{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Home{% endblock %}
     

     
     {% block content %}

     <!--page specific style sheets-->
        <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/appointment.css' %}"> 



 
 <style>

</style>
  <nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
       <a href="javascript:history.back()" class="breadcrumb">View Horse</a>
        <a href="#!" class="breadcrumb">Appointment</a>
       
      </div>
    </div>
  </nav>
  <div class="nativeCal" >
     {% if instance %}
    <a href="{% url 'EventFeed' instance.pk %}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add To Calendar</a>
    {%endif%}
    </div>
  <div class="card-panel grey darken-4">
   


 <form method="POST" enctype="multipart/form-data">
  <div class="row">
          
    {% if messages %}

    {% for message in messages %}
    
    <script>Materialize.toast('{{message}}', 4000)</script>
    
    
    
    </div>
    {% endfor %}
    
    {% endif%} 
    <div class="col s2"><span class="material-icons ">
       event
        </span></div>
        
    <div class="col s8 session_title"><h4> {% if instance%}Edit {%else%}Add{%endif%} Appointment for {{horse.stableName}} </h4></div>
    <div class="col s2">

      <button type="submit" value="Upload"  data-position="bottom" data-tooltip="Click to Save" name="save_photo" class="save-button">  <span><i class="fas fa-save" style="padding-right:0!important;"></i><br>SAVE</span></button></div>
              
          {{form|materializecss}}
        {% csrf_token %} 
        <p class="report_para"> Add a report</p>
        <input id="id_image" name="id_image"  type="file"   >
        <div class="row">
          {% if instance.report %}
          <div class="col s3 materialboxed ">
            <a href="{{MEDIA_URL}}{{ instance.report }}" class="report ">{{ instance.report }}</a>
         
          {% else %}
          <p>No files added</p>
          {% endif %}
        </div>
        {% if instance%}
        <button type="button" class="btn red darken-2" onclick="location.href='{% url 'deleteAppointment' instance.pk %}'">Delete
          Appointment</button>

          {% endif %}
      

      </div>
    
                     </form>


 
                    </div>


   <script>
$(document).ready(function(){

  // Initialize materialize data picker
  //  $('#id_due').datepicker({'format': 'dd/mm/yy,H:i'}) 
 
  $('select').material_select();
  //  $('#id_due').timepicker() 
  

function goBack() {
  window.history.back();
}


  });
</script>


{%endblock%}

