{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Home{% endblock %}
     

     
     {% block content %}
        <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}"> 


     
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% endcomment %}

 
<style>
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: black!important;
    padding: 0 1rem;
}


.datepicker-date-display {
    background-color: #607d8b
}

.datepicker-day-button:focus {
    color: white !important;
    background-color: #a2b0b6
}

.datepicker-done,
.datepicker-cancel,
.select-dropdown li>span,
.is-today {
    color: #607d8b !important
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
    background-color: #607d8b !important
}

td.is-selected.is-today {
    color: white !important
}

form{
  margin-top:15px;
}

.nativeCal{
  margin-left:30px;
}

input{
  padding-top:30px!important;
}

</style>
  <nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
       <a href="javascript:history.back()" class="breadcrumb">View Horse</a>
        <a href="#!" class="breadcrumb">Appointment</a>
       
      </div>
    </div>
  </nav>
<h4>Add Appointment for {{horse.stableName}} <span style="color:#21a3e2;"></span></h4>

<div class="nativeCal" style="display:{{display}};">

<a href="{% url 'EventFeed' %}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add To Calendar</a>

</div>
 <form method="POST" enctype="multipart/form-data">
              
          {{form|materializecss}}
        {% csrf_token %} 

          <button type="submit" class= 'subplus'><span class="blutext">+<span></button>
                     </form>


 



   <script>
$(document).ready(function(){

  // Initialize materialize data picker
  //  $('#id_due').datepicker({'format': 'dd/mm/yy,H:i'}) 
 
  $('select').material_select();
  //  $('#id_due').timepicker() 
  

function goBack() {
  window.history.back();
}


  });
</script>

<!-- <script>
if (navigator.serviceWorker) {
    navigator.serviceWorker.ready.then(function(registration) {
        if (registration.sync && window.URLSearchParams && window.FormData) {
            var frm = document.querySelector("form")
            frm.addEventListener("submit", function(e) {
                e.preventDefault();
                saveData(new URLSearchParams(new FormData(frm)).toString(),
                    "{% url 'editapp' %}?app={{instance.pk}}&horse={{horse.pk}}")
                    .then(function() {
                        return registration.sync.register('appoint-post');
                    }).then(function() {
                        location.href = "{% url 'editapp' %}?app={{instance.pk}}&horse={{horse.pk}}";
                    }).catch(function(err) {
                        console.error(err);
                    })
            }, false);
        }
    })
}
function saveData(data, post_url) {
    return new Promise(function(resolve, reject) {
        var db = window.indexedDB.open("appoint");
        db.onupgradeneeded = function(event) {
            var db = event.target.result;
            var store = db.createObjectStore("appoint", { autoIncrement: true });
        }
        db.onsuccess = function(event) {
            var store = this.result.transaction('appoint', 'readwrite').objectStore('appoint');
            store.add({url: post_url, data: data});
            resolve();
        }
        db.onerror = function(err) { reject(err); }
    })
}

</script>  -->

{%endblock%}

