


 <div class="col s12 m4">
    <h5> Training </h5>
  <ul class="schedule">
   {% for train in training %}
   <li class="grey-text text-lighten-1" style="list-style-type:disc!important;">{{train.disipline.disipline}}  {{train.location}} {{train.date}}</li>
 
  {% endfor %}
  </ul>
 
 </div>


</div>

<h4>Training</h4>
<ul class="hs">
  {% for train in training %}
  <li class="hs__item">
    <div class="hs__item__image__wrapper">
     <a href="{% url 'training_edit' pk=train.pk %}"> <img class="hs__item__image" src="{{MEDIA_URL}}{{ train.disipline.image}}" alt="{{horse.showName}}"/></a>
    </div>

    <div class="hs__item__description">
      <span class="hs__item__title white-text ">
        {{train.date}}  {{train.location}}</span>
    </div>
  </li>

  {% endfor %}
</ul>

<h4>Competition</h4>
<ul class="hs">
  {% for comp in comps %}
  <li class="hs__item">
    <div class="hs__item__image__wrapper " >
     <a href="{% url 'comp_edit' pk=comp.pk%}">  <img class="hs__item__image" src="{{MEDIA_URL}}{{ comp.disipline.image}}" alt="{{horse.showName}}" /></a>
    </div>

    <div class="hs__item__description">
      <span class="hs__item__title  white-text">
         {{comp.date}} {{comp.location}}</span>
    </div>
  </li>

  {% endfor %}
</ul>