{% extends 'base.html' %}{% load static%} {% block content %}
<style>

@media all and (max-width: 450px) {
   .hs li a{
      font-size:6px!important;
    }
   
}


</style>
{% block head %}
  <!-- Material Design Theming -->
 
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link rel="manifest" href="{% static 'manifest.json' %}"> 
  <link rel="stylesheet" href="{% static 'css/slider.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />


{% endblock %}

<h4>My Horses</h4>
<ul class="hs">
  {% for horse in horses %}
  <li class="hs__item">
    <div class="hs__item__image__wrapper">
       <a href="{% url 'detailsInd' pk=horse.pk%}"><img class="hs__item__image" src="{{MEDIA_URL}}{{ horse.photo}}" alt="{{horse.showName}}"/></a>
    </div>

    <div class="hs__item__description">
      <span class="hs__item__title white-text">
       {{horse.showName}}</span>
    </div>
  </li>

  {% endfor %}
</ul>

<h4>My Schedule</h4>
<div class="row">
 <div class="col s12 m4">
 <h5> Appointments</h5>
  <ul class="schedule">
   {% for event in events %}
   <li class="grey-text text-lighten-1 ">{{event.event}}  {{event.due}}</li>
 
  {% endfor %}
  </ul>
 </div>

 <div class="col s12 m4">
  <h5> Competitions</h5>
  <ul class="schedule">
   {% for comp in comps %}
   <li class="grey-text text-lighten-1">{{comp.disipline.disipline}}  {{comp.location}} {{comp.date}}</li>
 
  {% endfor %}
  </ul>
 
 
 </div>

 <div class="col s12 m4">
    <h5> Training </h5>
  <ul class="schedule">
   {% for train in training %}
   <li class="grey-text text-lighten-1" style="list-style-type:disc!important;">{{train.disipline.disipline}}  {{train.location}} {{train.date}}</li>
 
  {% endfor %}
  </ul>
 
 </div>


</div>



<div class="row">
  <div class="col s12 col m6 push-m3 ">
      <div class="drawer-option">
         <button class="btn btn-success enable-notifications mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--accent">
      Enable Notifications
    </button>
  </div>
  </div>
 </div>


<h4>Training</h4>
<ul class="hs">
  {% for train in training %}
  <li class="hs__item">
    <div class="hs__item__image__wrapper">
     <a href="{% url 'training_edit' pk=train.pk %}"> <img class="hs__item__image" src="{{MEDIA_URL}}{{ train.disipline.image}}" alt="{{horse.showName}}"/></a>
    </div>

    <div class="hs__item__description">
      <span class="hs__item__title white-text ">
        {{train.date}}  {{train.location}}</span>
    </div>
  </li>

  {% endfor %}
</ul>

<h4>Competition</h4>
<ul class="hs">
  {% for comp in comps %}
  <li class="hs__item">
    <div class="hs__item__image__wrapper " >
     <a href="{% url 'comp_edit' pk=comp.pk%}">  <img class="hs__item__image" src="{{MEDIA_URL}}{{ comp.disipline.image}}" alt="{{horse.showName}}" /></a>
    </div>

    <div class="hs__item__description">
      <span class="hs__item__title  white-text">
         {{comp.date}} {{comp.location}}</span>
    </div>
  </li>

  {% endfor %}
</ul>
   {% endblock%}

   
{% block scripts %}


<!-- service worker install for fb this page only-->
<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker
      .register('{% url "fbsw" %}', { scope: "/home/" })
      .then(function (reg) {
        // registration worked
        console.log("Registration succeeded fbsw. Scope is " + reg.scope);
      })
      .catch(function (error) {
        // registration failed
        console.log("Registration failed with " + error);
      });
  }
</script>

<!-- Import and configure the Firebase SDK -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-messaging.js"></script>

<script src="{% static 'js/app.js' %}"></script>

 <script src="{% static 'js/slider.js'%}"></script>
   

{% endblock %}
