{% extends 'base.html' %}{% load static%} {% load webpush_notifications %}  {% block content %}
<style>

@media all and (max-width: 450px) {
   .hs li a{
      font-size:6px!important;
    }
   
}

.card-panel{
  border-radius:10px;
}

ul {
  list-style-type: none!important;
  
 }

 .his_list{
border-radius:10px;
 }

 .arrow{
   color:#0288d1;
 }
 .add_horse{
   color:#21a3e2;;
 }
</style>
{% block head %}
  <!-- Material Design Theming -->
 
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  
  <link rel="stylesheet" href="{% static 'css/slider.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
 
  

{% endblock %}
<div class="card-panel grey darken-4">
<h4>My Horses</h4>
<ul class="hs" data-intro='Your horses are listed here. Click image to view'>
  {% for horse in horses %}
  <li class="hs__item">
    <div class="hs__item__image__wrapper">
       <a href="{% url 'detailsInd' pk=horse.pk%}">
         {% comment %} {%for image in images%}
          {% if image.horse.pk == horse.pk %} {% endcomment %}
         <img class="hs__item__image" src="{{MEDIA_URL}}{{ horse.photo}}" alt="{{horse.stableName}}"/>
          {% comment %} {%endif%}
          {%endfor%} {% endcomment %}
        </a>
    </div>

    <div class="hs__item__description">
      <span class="hs__item__title white-text">
       {{horse.stableName}}</span>
    </div>
  </li>

  {% endfor %}
</ul>




<div class="add_horse"><a href="{% url 'horse' %}"><i class="fas fa-plus" style="padding:0;"></i> Add Horse</a></div>
</div>


<div class="card-panel grey darken-4">
  <h4>My Schedule</h4>
<div class="row" data-intro="Upcoming appointments, comps and training sessions for all horses are listed here. Click on to view or update">
  


  <div class="col s12 m4">
 <h5> Appointments</h5>
  <ul class="schedule">
   {% for event in events %}
   <li class="grey-text text-lighten-1 "><a class="white-text" href="{% url 'editapp' %}?app={{event.pk}}&horse={{event.horse.pk}}">{{event.horse.stableName}} {{event.event}} {{event.due}}</a></li>
 
  {% endfor %}
  </ul>
 </div>

 <div class="col s12 m4">
  <h5> Competitions</h5>
  <ul class="schedule">
   {% for comp in comps %}
   <li class="grey-text text-lighten-1"><a class="white-text" href="{% url 'comp_edit' comp.pk %}">{{comp.disipline.disipline}}  {{comp.location}} {{comp.date}}</a></li>
 
  {% endfor %}
  </ul>
 
 
 </div>


 <div class="col s12 m4">
    <h5 > Training </h5>
  <ul class="schedule">
   {% for train in training %}
   <li class="grey-text text-lighten-1" style="list-style-type:disc!important;"><a class="white-text" href="{% url 'training_edit' train.pk %}">{{train.disipline.disipline}}  {{train.horse.stableName}} {{train.date}}</a></li>
 
  {% endfor %}
  </ul>
 
 </div>

</div>
</div>


<div class="card-panel grey darken-4">
  <h4 data-intro="Your vacs due dates are listed here">  Vacs Due </h4>
  <ul class="schedule">
    {% for event in events %}
    {% if event.event.appType == "Injections" %}
    <li class="grey-text text-lighten-1" style="list-style-type:disc!important;">{{event.horse}} {{event.due}}
      {% endif %}

  
   {% endfor %}
   </ul>
</div>
<div class="card-panel grey darken-4">
<h4 data-intro="Your training history for all horses is listed here.Click to view">  Training </h4>

  <ul class="collection with-header his_list">
   
    {% for train in train_his %}
    <li class="collection-item"><div> <b>{{train.horse}}</b> {{train.date}}<a href="{% url 'training_edit' pk=train.pk %}" class="secondary-content"><i class="material-icons arrow">send</i></a></div></li>
    {% endfor %}
  </ul>




{% comment %} <ul class="hs">
 
  <li class="history">

    <img class="hs__item__image" src="{{MEDIA_URL}}{{ train.disipline.image}}" alt="{{horse.showName}}"/>
      <span class="material-icons large">
          school
          </span>
    
      <a href="{% url 'training_edit' pk=train.pk %}"> {{train.date}}  {{train.location}}</a>
    
  </li>

  {% endfor %}
</ul> {% endcomment %}
</div>

<div class="card-panel grey darken-4">
<h4 data-intro="Your comp history for all horses is listed here.Click to view">Competition</h4>

<ul class="collection with-header his_list">
   
  {% for comp in comp_his %}
  <li class="collection-item"><div> <b>{{comp.location}}</b> {{comp.date}}<a href="{% url 'comp_edit' pk=comp.pk%}" class="secondary-content"><i class="material-icons arrow">send</i></a></div></li>
  {% endfor %}
</ul>


{% comment %} <ul class="hs">
  {% for comp in comp_his %}
  <li class="hs__item">
    <div class="hs__item__image__wrapper " >
     <a href="{% url 'comp_edit' pk=comp.pk%}">  <img class="hs__item__image" src="{{MEDIA_URL}}{{ comp.disipline.image}}" alt="{{horse.showName}}" /></a>
    </div>

    <div class="hs__item__description">
      <span class="hs__item__title  white-text">
         {{comp.date}} {{comp.location}}</span>
    </div>
  </li>

  {% endfor %}
</ul> {% endcomment %}

</div>

   {% endblock%}

   
{% block scripts %}




<!-- service worker install for fb this page only-->
<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker
      .register('{% url "fbsw" %}', { scope: "/home/" })
      .then(function (reg) {
        // registration worked
        console.log("Registration succeeded fbsw. Scope is " + reg.scope);
      })
      .catch(function (error) {
        // registration failed
        console.log("Registration failed with " + error);
      });
  }
</script>

<!-- Import and configure the Firebase SDK -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-messaging.js"></script>

<script src="{% static 'js/app.js' %}"></script>

 <script src="{% static 'js/slider.js'%}"></script>


 <script>

 </script>
   

{% endblock %}
