{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %}{% load ratings %}

     
{% block head %}
  
            <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/cedit.css' %}"> 
            <link rel="stylesheet" href={% static 'css/fontawesome-stars.css' %}>
 
  

{% endblock %}

   {% block content %} 
   <style>.date label{margin-top: -30px!important;}.obj-form input{color:black!important;} form{color:white!important;}
     .card-action a{
       color:#0288d1!important;
      background-color:white;
     }
  .card_text{
    font-weight: 700;
    text-transform:uppercase;
    color:black
  }

    .card-panel,.card{
        border-radius:10px;
      }

      .tabs li a{
        color:#0288d1!important;
      }
      .indicator{
          background-color:white!important;
          margin-top:5px;
      }

      nav{
          background-color:black!important;
      }

      .caret{
          color:white!important;
      }
      .material-icons{
          {% comment %} font-size:40px; {% endcomment %}
          color:white;
          padding-top:10px;
      }
      .session_title{
          font-size:40px;
          color:white;
          text-align:center;
          font-weight:600;
   
      }

      button{
          border-radius:10px;
          background-colour:#21a3e2!important;
      }

      .i_color{
          color:#21a3e2!important;
         
      }


      ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    label{
        text-size:1 rem!important;
        font-family: 'Roboto', 'Helvetica', sans-serif;
    }
   

.file-field .btn{
        display:none;
    }
    .file-path-wrapper{
        display:none;
    }

    button{
        border-radius:10px;
        min-height:50px;
    }

   
 .fa-trophy{
  color: white;
  font-size: 20px;
    }
   select{
    background-color: #212121!important;
   }

   #id_class_time{
     margin-top:20px!important;
   }
</style>

  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h1 class="white-text">Sorry</h1>
      <p class="white-text">We are unable to upgrade your membership. The payment has failed or been cancelled. Please try again or contact support.
      </div><!--end of col-->
</div><!--end of row-->
   
    <script>
	  $(document).ready(function(){
    $('select').material_select();
    $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
    $('.timepicker').pickatime({
      default: 'now', // Set default time: 'now', '1:30AM', '16:30'
      fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
      twelvehour: false, // Use AM/PM or 24-hour format
      donetext: 'OK', // text for done-button
      cleartext: 'Clear', // text for clear-button
      canceltext: 'Cancel', // Text for cancel-button,
      container: undefined, // ex. 'body' will append picker to body
      autoclose: false, // automatic close timepicker
     
   
      
    });
   
    // $('#id_class_time').timepicker() 
  

  });

</script>
  
{% comment %} <script>
var logID = 'log',
  log = $('<div id="'+logID+'"></div>');
$('body').append(log);
  $('[type*="radio"]').change(function () {
    var me = $(this);
    log.html(me.attr('value'));
  });
</script> {% endcomment %}




{% endblock %}
