{% extends 'basePW.html' %}{% load static%} {% block page_title %}Enter new password{% endblock %}
     {% block content %}
     
<style>ul{color:white;}</style>
 <h4 class="white-text">Set Password</h4>


{% if validlink %}

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
     <button class="btn waves-effect waves-light" type="submit" name="action">Change Password
    <i class="material-icons right">send</i>
  </button>
</form>

{% else %}

<p class="white-text">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

     
       {% endblock %} 