{% extends 'basePW.html' %}{% load static%} {% block page_title %}Password Reset{% endblock %}
     {% block content %}
     





  <h4 class="white-text">Forgot your password?</h4>
  <p class="white-text">Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"  name="action" class="btn btn-success">Recover Password   <i class="material-icons right"></i></button>
   
 

  </form>

     
       {% endblock %} 