{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Mindset{% endblock %}
     
{% block head %}
    
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
  {% endblock %}
 {% block content %} 
<style>

.box{
  height:100px!important;
  border: 1px solid grey;
  padding:5px;
  text-align:center;
 
}

.control_box{
 
  height:70px;
  font-size:10px;
  color:white;
}

</style>

<h4>MindSet B</h4>


        <section>

        
            <div class ="col s12  m6"><!--container-->
              <div class="col s12  center-align blue">
              <h4>Things I Can Control</h4>
                  
              </div>

              <div class="col s12">
              <div class="row">
                 {% for int in instance.can_control  %}
                    <div class="col s6 m4 green control_box">
                    {{int}}
                    </div>
                    {% endfor %}
                    </div>
              
              </div>
            
            </div><!--end container-->

              <div class ="col s12 m6 "><!--container-->
                 <div class="col s12 center-align blue">
                    <h4>Things I Can't Control</h4>
              
                 </div>

              <div class="col s12">
              <div class="row">
                  {% for int in instance.cannot_control%}
                    <div class="col s6 m4 red control_box">
                         {{int}}
                    </div>
                    {% endfor %}
               </div>
              </div>
            
            </div><!--end container-->



        </section>


            <section>
      {% comment %} <div class="row" style="border:1px solid #21a3e2"> {% endcomment %}
      <form method="POST" class="col s12">
          {{form|materializecss}}

             {% csrf_token %}
          <p class="white-text warning_msg"> Click the + to save your session</p>
           <button type="submit" class= 'subplus' name="save_log"><span class="blutext">+<span></button>
           </form>

        {% comment %} </div> {% endcomment %}

        </section>






  </div>
    
    
    </div>

      </div><!--end of col-->
</div><!--end of row-->
{% endblock %}{% block scripts%}
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
 

{% endblock %}
