{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Mindset{% endblock %}
     
{% block head %}
    
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
  {% endblock %}
 {% block content %} 
<style>
.quote-wrapper {
  width: 100px;
  height: 100px;
  position: relative;
  margin-left:5px!important;
  margin-bottom: 5px;
}

.text {
  width: 100px;
  height: 100px;
  /*BLUE BG*/
  background: radial-gradient(
    ellipse at center,
    rgba(0, 128, 0, 1) 0%,
    rgba(0, 128, 20, 1) 70%,
    rgba(210, 20, 20, 0) 70.3%
  );
  /*RED BG
  background: radial-gradient(
    ellipse at center,
    rgba(210, 20, 20, 1) 0%,
    rgba(210, 20, 20, 1) 70%,
    rgba(210, 20, 20, 0) 70.3%
    0,128,0
  );*/
  position: relative;
  margin: 0;
  color: white;
}

.text2 {
  width: 100px;
  height: 100px;
  /*BLUE BG*/
  background: radial-gradient(
    ellipse at center,
    rgba(210, 20, 20, 1) 0%,
    rgba(210, 20, 20, 1) 70%,
    rgba(210, 20, 20, 0) 70.3%
  );
  /*RED BG
  background: radial-gradient(
    ellipse at center,
    rgba(210, 20, 20, 1) 0%,
    rgba(210, 20, 20, 1) 70%,
    rgba(210, 20, 20, 0) 70.3%
    0,128,0
  );*/
  position: relative;
  margin: 0;
  color: white;
}

.text p, .text2 p{
  height: 100%;
  font-size: 10px;
  line-height: 1.25;
  padding: 0;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text::before,.text2::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(
    0 0,
    98% 0,
    50% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
  shape-margin: 7%;
}

.text p::before,.text2 p::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(
    2% 0%,
    100% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    50% 6%
  );
  shape-margin: 7%;
}

.quote-wrapper blockquote footer {
  width: 100%;
  position: absolute;
  bottom: 25px;
  font-size: 12px;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

/* .quote-wrapper::before {
  content: "\201C";
  font-size: 270px;
  height: 82px;
  line-height: 0.78;
  line-height: 1;
  position: absolute;
  top: -48px;
  left: 0;
  z-index: 1;
  font-family: sans-serif, serif;
  color: #ccc;
  opacity: 0.9;
} */

@media (min-width: 850px) {
  .quote-wrapper {
    width: 370px;
    height: 370px;
  }

  .quote-wrapper::before {
    font-size: 300px;
  }

  .text p {
    font-size: 26px;
  }


}
 form button{
   margin:10px;
 }

 input{
   color:black;
 }

</style>

<h4>Control Diagram</h4>

<a class=" modal-trigger" href="#modal1">ADD</a>

{% for control in controls %}
 {% if control.can_control == True %}
  <div class='row'>
    <div class="quote-wrapper col sm-4">
      <div class="text" cite="http://www.inspireux.com/category/quotes/jesse-james-garrett/">
        <p>{{ control.can_control}}</p>
     
        </div>
        
    </div>
    {% endif %}
    {% endfor %}
    {% for control in controls %}
    {% if control.cannot_control == True %}
    <div class="quote-wrapper col sm-4">
      <div class="text2" cite="http://www.inspireux.com/category/quotes/jesse-james-garrett/">
        <p>{{ control.cannot_control}}</p>
     
        </div>
        
    </div>
    {% endif %}
    {% endfor %}
   


  </div><!--end of row-->

    <!-- Modal Structure -->
    <div id="modal1" class="modal" style="color:black;">
      <div class="modal-content">
          <div class="col s12  ">
              <h5> Enter a Factor</h5>
              <form method="POST" id="factor" style="margin-left:5px!important;">
                 <div class="col s12"> {{form|materializecss}}</div>
                 <button type="submit"  name="save" class="btn btn-success">Add Control</button>
                  {% csrf_token %}
                    </form>
           
            
          </div>
      </div>
      <div class="modal-footer">
         
      </div>
    </div>
{% endblock %}{% block scripts%}
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('select').formSelect();
    $('.modal').modal();

  });
</script>
 

{% endblock %}
