{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Mindset{% endblock %}
     
{% block head %}
    
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/form.css' %}"> 

  {% endblock %}
 {% block content %} 
<style>

.box{
  height:100px!important;
  border: 1px solid grey;
  padding:5px;
  text-align:center;
  border-radius:5px;
  color:white;
  margin:5px;
 
}

#id_outcome{
display: block;
margin: auto;
border: none;
background-color: red;
height: 30px;
color: white;
text-align:center;

}

#id_outcome,#id_performance_goal_1,#id_performance_goal_2{
  background-color: grey;
  height: 100px;
  width: 200px;
 
  padding-top: 10px;
  padding:2px,2px;
   -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top:10px;
    text-align:center;
    margin:10px;
}

#id_process_goal_1,#id_process_goal_2,#id_process_goal_3,#id_process_goal_4{
    background-color: grey;
  height: 100px;
  width: 200px;
 
  padding-top: 10px;
  padding:2px,2px;
   -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top:10px;
    text-align:center;
    margin:10px;
}

@media all and (max-width: 450px) {

#id_process_goal_1,#id_process_goal_2,#id_process_goal_3,#id_process_goal_4,#id_outcome,#id_performance_goal_1,#id_performance_goal_2{


  margin-left:30%;
}


}

</style>
<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
         <a href="{% url 'mindset_select' %}" class="breadcrumb">Mindset</a>
        <a href="#!" class="breadcrumb">Goal</a>
       
      </div>
    </div>
  </nav>

<h4>MindSet</h4>

<form method="POST" id="mindform">
    <div class="row">        
     <div class="col s12 ">  
      <button type="submit" class="btn btn-success submit tooltipped" data-position="bottom" data-tooltip="Click to Add" name="save_obj">Save</button>
      <button type="button" class="btn red darken-2" onclick="location.href='{% url 'delete_goal' pk=pk %}'">Delete</button>
      </div>
    </div>
   
   
   
   
   
    <div class='row'>

<br>


 
        {% comment %} <div class= "col s8 l4 push-l4 push-s2 blue box "> <span class='box-text'>{{instance.outcome}}<span></div> {% endcomment %}
        <div class="col s12 l4 push-m3 push-l4 ">   {{form.outcome|materializecss}}      </div>
        
        </div>

           <div class='row'>

        <div class= "col s12 m6 l3 push-l3 ">
        {{form.performance_goal_1|materializecss}}
        </div>
         <div class= "col s12 m6 l3 push-l3 ">
          {{form.performance_goal_2|materializecss}}
         </div>
        </div>

           <div class='row'>
          

        <div class= "col s12 m6 l3" >
          {{form.process_goal_1|materializecss}}
        </div>
         <div class= "col s12 m6 l3">
            {{form.process_goal_2|materializecss}}
         </div>
           <div class= "col s12 m6 l3 ">
             {{form.process_goal_3|materializecss}}
           
           </div>
         <div class= "col s12 m6 l3">
         
           {{form.process_goal_4|materializecss}}
         </div>
        </div>

     

             {% csrf_token %}
       
           </form>
           <div class="center-align">
              <a href="{% url 'mindsetB'%}" style="font-size:20px;"class="white-text">Part B</a>  
              </div>
        </div>
          
        </section>

     

  </div>
    
    
    </div>

      </div><!--end of col-->
</div><!--end of row-->
{% endblock %}{% block scripts %}
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
 

{% endblock %}
