{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Home{% endblock %}
     

     {% block head %}

        <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/chevron.css' %}"> 
    
         

      {% endblock %}
     
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% endcomment %}

 
  {% block content %}
  <style>.date label{margin-top: -30px!important;}.obj-form input{color:black!important;} form{color:white!important;}
    .card-action a{
      color:#0288d1!important;
     background-color:white;
    }
 .card_text{
   font-weight: 700;
   text-transform:uppercase;
   color:black
 }
 .datepicker{
  margin-top:20px!important;
}
   .card-panel,.card{
       border-radius:10px;
     }

     .tabs li a{
       color:#0288d1!important;
     }
     .indicator{
         background-color:white!important;
         margin-top:5px;
     }

     nav{
         background-color:black!important;
     }

     .caret{
         color:white!important;
     }
     .material-icons{
         {% comment %} font-size:40px; {% endcomment %}
         color:white;
         padding-top:10px;
     }
     .session_title{
         font-size:40px;
         color:white;
         text-align:center;
         font-weight:600;
  
     }

     button{
         border-radius:10px;
         background-colour:#21a3e2!important;
     }

     .i_color{
         color:#21a3e2!important;
        
     }


     ::-webkit-calendar-picker-indicator {
       filter: invert(1);
   }

   label{
       text-size:1 rem!important;
       font-family: 'Roboto', 'Helvetica', sans-serif;
   }
  

.file-field .btn{
       display:none;
   }
   .file-path-wrapper{
       display:none;
   }

   button{
       border-radius:10px;
   }

  
.fa-trophy{
 color: white;
 font-size: 20px;
   }
  select{
   background-color: #212121!important;
  }

  textarea{
    padding:0!important;
  }
</style>
<h2 >Add A Horse</h2>
 
 {% comment %} <div class="h5" data-intro='Wizard takes you through adding a horse'>Numbered - <code>.numbered</code></div>
      <div class="multi-step numbered">
        <ul class="multi-step-list">
          <li class="multi-step-item active current">
            <div class="item-wrap">
              <p class="item-title">Add Horse</p>
            </div>
          </li>
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Photo</p>
            </div>
          </li>
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Tack</p>
            </div>
          </li>
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Links</p>
            </div>
          </li>
        </ul>
      </div> {% endcomment %}
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#!" class="breadcrumb">Basics</a>
           
          </div>
        </div>
      </nav>
      
      <div class="card-panel grey darken-4">
              <form method="POST" enctype="multipart/form-data">
                
                
                     <div class="row blue_box" > 
                      <h4 style="font:24px;color:white;font-style:avenair;" data-intro='Complete basic horse details'>Basic Info</h4>
                       <div class="col s12 col m12">
                          {{ form.showName|materializecss}}
                       </div>
                         <div class="col s12 col m12">
                              {{ form.stableName|materializecss}}
                       </div>
                          <div class="col s12 col m12">
                              {{ form.Gender|materializecss}}
                       </div>

                          <div class="col s12 col m12">
                        {{  form.Dob|materializecss}}
                       </div>
                     
                     
                     </div>

           
                    
                  <div class="row blue_box" > 
                      <h4 style="font:24px;color:white;font-style:avenair;">Personals</h4>
                       <div class="col s12 ">
                          {{ form.breed|materializecss}}
                       </div>
                         <div class="col s12 col m12">
                              {{ form.pedigree|materializecss}}
                       </div>
                          <div class="col s12 col m12">
                              {{ form.colour|materializecss}}
                       </div>

                          <div class="col s12 col m12">
                              {{ form.height|materializecss}}
                       </div>
                     
                     
                     
                     </div>

                      <div class="row blue_box" > 
                      <h4 style="font:24px;color:white;font-style:avenair;">Feeds & Behaviour</h4>
                       <div class="col s12" data-intro='Add feed information and any useful notes on behaviour such as cribs or bites' >
                          {{ form.feeds|materializecss}}
                       </div>
                         <div class="col s12">
                             {{ form.notes|materializecss}}
                       </div>
                       
                     
                       
                     
                     </div>

                   
           

                       <div class="row blue_box" > 
                      <h4 style="font:24px;color:white;font-style:avenair;">Owner Details</h4>
                       <div class="col s12 ">
                          {{ form.owner|materializecss}}
                       </div>
                         <div class="col s12 col m6">
                              {{ form.street_address1|materializecss}}
                       </div>
                          <div class="col s12 col m6">
                              {{ form.street_address2|materializecss}}
                       </div>

                          <div class="col s12 col m4">
                              {{ form.town_or_city|materializecss}}
                       </div>
                            <div class="col s12 col m4">
                              {{ form.county|materializecss}}
                       </div>
                            <div class="col s12 col m4">
                              {{ form.postcode|materializecss}}
                       </div>
                       <div class="col s12 col m4">
                        {{ form.owner_email|materializecss}}
                 </div>
                 <div class="col s12 col m4">
                  {{ form.owner_mobile|materializecss}}
           </div>
                     
                     
                     </div>
           
                     {% csrf_token %} 
                      <button type="submit"  class="btn btn-success" data-intro='Click to add horse'>Add Horse</button>
                      
                      </form>
                    </div>
     {% endblock %}                
{% block scripts %}

   <script>
$(document).ready(function(){

  // Initialize materialize data picker
  {% comment %} $('.datepicker').datepicker({
    'format': 'yyyy-mm-dd',
   }); {% endcomment %}
   $('select').material_select();

  });



</script>             

{% endblock %}

