{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %} {% block head %}

<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/horse_det.css' %}"> {% endblock %} {% block content %}

<style>
    .cardHeading {
        color: #21a3e2;
    }
</style>

<nav>
    <div class="nav-wrapper">
        <div class="col s12 breadcrumb">
            <a href="{% url 'home' %}" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Edit</a>

        </div>
    </div>
</nav>

<h2>Select A Horse</h2>
<ul class="hs">
    {% for horse in horses %}
    <li class="hs__item">

        <div class="hs__item__image__wrapper">

            <a href="{{horse.pk}}"> <img class="hs__item__image" src="{{MEDIA_URL}}{{ horse.photo}}" alt="{{horse.showName}}" /></a>

        </div>

        <div class="hs__item__description">

            <span class="hs__item__title white-text">{{horse.showName}}</span>



        </div>

    </li>

    {% endfor %}
</ul>


<h5>{{selected.showName}}</h5>
<div class="row" style="border:1px solid #b3b3b3"></div>
<h2 class="">Details</h2>

<div class="row cardHolder" style="padding:20px!important;">

    <div class="row">
        <div class="col s12 m12 l6 ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text" style="height:220px;">
                    <h4 class="cardHeading">Key Info</h4>
                    <ul>
                        <li>STABLE NAME: {{selected.stableName}}</li>
                        <li>SHOW NAME: {{selected.showName}}</li>
                        <li>DOB: {{selected.Dob}}</li>
                        <li>GENDER: {{selected.Gender}}</li>

                    </ul>
                </div>
                <div class="card-action">

                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text" style="height:220px;">
                    <h4 class="cardHeading">Links</h4>
                    <ul>
                        <li><a href="{% url 'tackedit' pk=selected.pk %}" class="white-text">Tack Record</a></li>
                        {% for link in links %}
                        <li> <a href={{link.link}} class="white-text">{{link.organisation}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-action">

                </div>
            </div>
        </div>
    </div>
 
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text" style="height:220px;">
                    <h4 class="cardHeading" class="cardHeading">Owner Details</h4>
                    <ul>
                        <li>Owner: {{selected.owner}}</li>
                        <li>E Mail: {{selected.owner_email}}</li>
                        <li>Mobile: {{selected.owner_mobile}}</li>
                      

                    </ul>
                </div>
                <div class="card-action">

                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text" style="height:220px;">
                    <h4 class="cardHeading">Notes</h4>
                    <p>{{selected.notes}}</p>
                </div>
                <div class="card-action">

                </div>
            </div>
        </div>
        <p><a href="{% url 'edithorse' pk=selected.pk %}">Edit or Delete Horse</a></p>
    </div>




</div>
<!-- end of section-->

<!--app section-->
<h2 id="apps">Appointments</h2>
<div class='row'>
    <div class="col s12 m6 appointment " style="">
        <h4 class="">Next</h4>
        <ul class="appoint">

            <li>
                <form name="app" id="app" method="POST"> {% csrf_token %} <input type="hidden" id="Dentist" name="apps" value="Dentist"> <button class="btn btn-success appointments_submit"><i
              class="fas fa-tooth grey-text"></i><b>Dentist:</b>

            {% for app in appointments %}
            {% if app.event.appType == "Dentist" %}


            <span class=""> {{app.due}}</span>
        </form>
        {% endif %}


        {% endfor %}
      </li>



      <li>
        <form name="app" id="app" method="POST"> {% csrf_token %} <input type="hidden" id="Physio" name="apps"
            value="Physio"> <button class="btn btn-success appointments_submit"><i class="fas fa-user-md grey-text"></i>
            <b>Physio Next -</b> </a>
            {% for app in appointments %}

            {% if app.event.appType == "Physio" %}


            <span class="next_app"> {{app.due}}</span>
        </form>
        {% endif %}


        {% endfor %}
      </li>

     <li>
        <form name="app" id="app" method="POST"> {% csrf_token %} <input type="hidden" id="Worming" name="apps"
            value="Worming"> <button class="btn btn-success appointments_submit"><i class="fas fa-user-md grey-text"></i>
            <b>Worming Next -</b> </a>
            {% for app in appointments %}

            {% if app.event.appType == "Worming" %}


            <span class="next_app"> {{app.due}}</span>
        </form>
        {% endif %}


        {% endfor %}
      </li>
      <li>
        <form name="app" id="app" method="POST"> {% csrf_token %} <input type="hidden" id="Saddler" name="apps"
            value="Saddler"> <button class="btn btn-success appointments_submit"><i class="fas fa-chair grey-text"></i>
            <b>Saddler Next -</b> </a>

            {% for app in appointments %}

            {% if app.event.appType == "Saddler" %}


            <span class="next_app"> {{app.due}}</span>
     </form>
            {% endif %}


            {% endfor %}
      </li>
       <li>
        <form name="app" id="app" method="POST"> {% csrf_token %} <input type="hidden" id="Farrier" name="apps"
            value="Farrier"> <button class="btn btn-success appointments_submit"><i class="fas fa-hammer  grey-text"></i>
            <b>Farrier Next -</b> </a>
            {% for app in appointments %}

            {% if app.event.appType == "Farrier" %}


            <span class="next_app"> {{app.due}}</span>
        </form>
        {% endif %}


        {% endfor %}
      </li>
      <li>
        <form name="app" id="app" method="POST"> {% csrf_token %} <input type="hidden" id="Vet" name="apps"
            value="Vet"> <button class="btn btn-success appointments_submit"><i class="fas fa-hammer  grey-text"></i>
            <b>Vet Next -</b> </a>

            {% for app in appointments %}

             {% if app.event.appType == "Vet" %}



            <span class="next_app">{{app.due}}</span>
              </form>
            {% endif %}


            {% endfor %}
      </li>
      <li>
        <form name="app" id="app" method="POST"> {% csrf_token %} <input type="hidden" id="vacs" name="apps"
            value="Vacs"> <button class="btn btn-success appointments_submit"><i
              class="fas fa-briefcase-medical grey-text"></i> <b>Vacs Next -</b> </a>

            {% for app in appointments %}

            {% if app.event.appType == "Injections" %}


            <span class="next_app">{{app.due}}</span>
                 </form>
            {% endif %}


            {% endfor %}
      </li>






    </ul>

  </div>

  <div class="col s12 m6">

    <h4 class="">History</h4>
    <ul class="his">
      {% for tor in tory %}
      <li class="his_date"><a href="{% url 'editapp' %}?app={{tor.pk}}&horse={{selected.pk}}" <i
          class="fa fa-calendar-o" aria-hidden="true"></i> <span class="next_app">{{tor.due}}</span></a></li>

      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
    </ul>

  </div>




</div>
<!--end of app section-->


<!--passport-->
<h2 class="hs__headline">Horse Passport</h2>
<div class="row blue_box">


  <div class="col s12 m6" style="padding:15px;">

    <img src="{{MEDIA_URL}}{{ selected.passport}}" class="ppimage" layout="responsive" alt="horse passport"></amp-img>
    </a>
  </div>
  <div class="col s6 l4">

    <form method="POST" enctype="multipart/form-data">
      <input id="pic" name="pic" type="file" class='' accept="image/*" class="" style="margin-top:30%;">
      {% csrf_token %}
      <button type="submit" class='subplus tooltipped'  data-position="bottom" data-tooltip="Click to Save"  name="save_obj"
        style='display: block;margin-left: auto; margin-right: auto'><span class="blutext">+<span></button>
                </form>
    </div>







</div>
<!--end of section-->

<h2 class="hs__headline">Training</h2>
<div class="row " style="padding-bottom:20px;">

    <ul class="collection" style="border:none!important;">
        {% for train in training %}
        <li class="collection-item avatar " style="background-color:#101010!important">
            <img src="{{MEDIA_URL}}{{train.disipline.image}}" alt="train.disipline.disipline" class="circle">
            <span class="disipline_title ">{{train.disipline.disipline}} {{train.date}}</span>
            <p class="disipline_type">Training Session
            </p>
            <a href="{% url 'training_edit' pk=train.pk %}" class="secondary-content "><i
          class="fa fa-chevron-circle-right history_link" style="font-size:50px;color:#21a3e2;"
          aria-hidden="true"></i></a>
        </li>
        {% endfor %}
</div>



{% endblock %} {% block scripts %}
<script>
    var button = document.querySelector('form[name="apps"] > button');
    button.addEventListener(function() {
        document.querySelector("form[name="
            app "]").submit();
    });
</script>
<script src="{% static 'js/slider.js'%}"></script>
<script>
    $(document).ready(function() {
        $('select').formSelect();
    });
</script>

{% endblock %}