{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Home{% endblock %}


{% block head %}

<!--page style sheets-->

<link rel="stylesheet" href="{% static 'css/slider.css' %}" />
<link rel="stylesheet" href="{% static 'css/page.css' %}" /> 
<link rel="stylesheet" href="{% static 'css/horse.css' %}" /> 
{% endblock %}

{% block content %}
<style>

  
</style>
  <nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb" data-intro='This breadcrumb shows you where you are clicking a link takes you back'>
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
        <a href="#!" class="breadcrumb">Edit</a>
       
      </div>
    </div>
  </nav>
  <div class="card-panel grey darken-4">
<h4 style="font: 24px; color: white">Select A Horse</h4>
{% for horse in horses %}   
<div class="chip">
  <img class="select_image" src="{{MEDIA_URL}}{{ horse.photo}}" alt="{{horse.stableName}}"/>
  <a href="{{horse.pk}}">{{horse.stableName}}</a>
</div>
{% endfor %}

            {% comment %} {% for horse in horses %}
        <div class="col s4">
            <a class="image_select_link "href="{{horse.pk}}">
              <img class="select_image" src="{{MEDIA_URL}}{{ horse.photo}}" alt="{{horse.showName}}"/>
            <br>
                {{horse.showName}}</a> 
            </div>

            {% endfor %} {% endcomment %}
          
         
</div>
{% endblock %} 