{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Home{% endblock %} {% block head %}
<!--page style sheets-->
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/chevron.css' %}"> 
<link rel="stylesheet" href="{% static 'css/horse.css' %}"> 
{% endblock %} 





    {% block content %}






    <nav>
        <div class="nav-wrapper">
          <div class="col s12 breadcrumb">
            <a href="{% url 'detailsInd' pk %}" class="breadcrumb">Horse</a>
            <a href="#!" class="breadcrumb">Edit Horse</a>
           
          </div>
        </div>
      </nav>

  <div class="card-panel grey darken-4">
    <h2>Edit A Horse</h2>
<form method="POST" enctype="multipart/form-data">
    <div class="row blue_box">
        <h4 style="font:24px;color:white;font-style:avenair;">Basic Info</h4>
        <div class="col s12 col m6">
            {{ form.showName|materializecss}}
        </div>
        <div class="col s12 col m6">
            {{ form.stableName|materializecss}}
        </div>
        <div class="col s12 col m6">
            {{ form.Gender|materializecss}}
        </div>

        <div class="col s12 col m6">
            {{ form.Dob|materializecss}}
        </div>
        <div class="col s12 col m12">
            {{  form.chip|materializecss}}
           </div>
           <div class="col s12 col m12">
            {{  form.Arrived|materializecss}}
           </div>
           <div class="col s12 col m12">
            {{  form.Left|materializecss}}
           </div>
      
           {% comment %} <div class="col s12 col m12">
            <input id="id_image" name="photo"  type="file"  accept="image/*"  >
        </div> {% endcomment %}
    </div>
    <div class="row blue_box">
        <h4 style="font:24px;color:white;font-style:avenair;">Profile Picture</h4>
        <div class="col s12 col m12" style="margin-left:20px;">
            {{form.photo}}
            </div>
    </div>

    <div class="row blue_box">
        <h4 style="font:24px;color:white;font-style:avenair;">Personals</h4>
        <div class="col s12 col m6">
            {{ form.breed|materializecss}}
        </div>
        <div class="col s12 col m6">
            {{ form.pedigree|materializecss}}
        </div>
        <div class="col s12 col m6">
            {{ form.colour|materializecss}}
        </div>
      

        <div class="col s12 col m6">
            {{ form.height|materializecss}}
        </div>

     
     


    </div>
    
      <div class="row blue_box" > 
                      <h4 style="font:24px;color:white;font-style:avenair;">History / Special Needs</h4>
                       <div class="col s12 ">
                          {{ form.feeds|materializecss}}
                       </div>
                         <div class="col s12">
                             {{ form.notes|materializecss}}
                       </div>
                       
                     
                     
                     </div>

    <div class="row blue_box">
        <h4 style="font:24px;color:white;font-style:avenair;">Owner Details</h4>
        <div class="col s12 ">
            {{ form.owner|materializecss}}
        </div>
        <div class="col s12 col m6">
            {{ form.street_address1|materializecss}}
        </div>
        <div class="col s12 col m6">
            {{ form.street_address2|materializecss}}
        </div>

        <div class="col s12 col m4">
            {{ form.town_or_city|materializecss}}
        </div>
        <div class="col s12 col m4">
            {{ form.county|materializecss}}
        </div>
        <div class="col s12 col m4">
            {{ form.postcode|materializecss}}
        </div>

        <div class="col s12 col m4">
            {{ form.owner_email|materializecss}}
        </div>

        <div class="col s12 col m4">
            {{ form.owner_mobile|materializecss}}
        </div>



    </div>

    {% csrf_token %}
    <button type="submit" class="btn btn-success">Update</button>
    <button type="button" class="btn red darken-2" onclick="location.href='{% url 'deletehorse' pk=pk %}'">Delete
    Horse</button>


</form>
</div>
{% endblock %} {% block scripts %}

<script>
    $(document).ready(function(){
    
      // Initialize materialize data picker
      {% comment %} $('.datepicker').datepicker({
        'format': 'yyyy-mm-dd',
       }); {% endcomment %}
       $('select').material_select();
    
      });
    
    

    
    </script>  

{% endblock %}