{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %} {% block head %}

<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/horse_det.css' %}"> {% endblock %} 

{% block content %}




<nav>
    <div class="nav-wrapper">
        <div class="col s12 breadcrumb">
            <a href="{% url 'home' %}" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Edit</a>

        </div>
    </div>
</nav>

<div class="card-panel grey darken-4">
  <form method="POST" enctype="multipart/form-data" >
  <div class="row">
      <div class="col s6"><b>{{selected.stableName}}</b></div>
      <div class="col s2 session_title"> </div>
      <div class="col s4">
         </div>
  </div>


    <div class="row">
  
                    <h4 class="cardHeading">Key Info</h4>
                    <ul    class-"key_info">
                        <li><span class="bl">STABLE NAME:</span> {{selected.stableName}}</li>
                        <li><span class="bl">SHOW NAME:</span> {{selected.showName}}</li>
                        <li><span class="bl">DOB:</span> {{selected.Dob}}</li>
                        <li><span class="bl">GENDER:</span> {{selected.Gender}}</li>
                        <li><span class="bl">CHIP:</span> {{selected.chip}}</li>
                        <li><span class="bl">OWNER:</span> {{selected.owner}}</li>
                        <li><span class="bl">E MAIL:</span> {{selected.owner_email}}</li>
                        <li><span class="bl">MOBILE:</span> {{selected.owner_mobile}}</li>
                        <li><span class="bl">ARRIVED:</span> {{selected.Arrived}}</li>
                        <li><span class="bl">LEFT:</span> {{selected.Left}}</li>
                     
                       
                        

                    </ul>
           
             
                    <p data-intro='Click the link to  edit or remove horse'><a href="{% url 'edithorse' pk=selected.pk %}">Edit Details or Delete Horse</a></p>
            
            </div>


            
            <div class="row">
          
              <div class="col s12">
                  
                <ul class="tabs grey darken-4">
                  <li class="tab col s3"><a href="#test1" class="active">  <i class="material-icons small i_color">link</i></a></li>
                  <li class="tab col s3"><a  href="#test2"><i class="material-icons small i_color">assignment</i></a></li>
                  <li class="tab col s3"><a  href="#test3"><i class="material-icons small i_color">school</i></a></li>
                  
                
                </ul>
              </div>
              <div id="test1" class="col s12">
                <h2 class="hs__headline">Links</h2>
                <div class="row blue_box">
                  <ul>
                    <li data-intro='Click the link to view and edit tack'><a href="{% url 'tackedit' pk=selected.pk %}" class="white-text">Tack Record</a></li>
                    {% for link in links %}
                    <li> <a href={{link.link}} class="white-text">{{link.organisation}}</a></li>
   
                    {% endfor %}
                    <li data-intro='Click the link to edit links'><a href="{% url 'links' pk=selected.pk %}" class="blue-text">Add/Delete Links</a></li>
                </ul>
     
                </div> 

              </div>
              <div id="test2" class="col s12">
                <h2 class="hs__headline">Notes</h2>
                <div class="row blue_box">
                  <p>{{selected.notes|linebreaks }}</p>
                </div> 
              </div>
              <div id="test3" class="col s12">

                
<h2 class="hs__headline">Training</h2>
<div class="row blue_box">
<div class="row " style="padding-bottom:20px;" >

    <ul class="collection" style="border:none!important;">
        {% for train in training %}
        <li class="collection-item avatar " style="background-color:#212121!important">
            <img src="{{MEDIA_URL}}{{train.disipline.image}}" alt="train.disipline.disipline" class="circle">
            <span class="disipline_title ">{{train.disipline.disipline}} {{train.date}}</span>
            <p class="disipline_type">Training Session
            </p>
            <a href="{% url 'training_edit' pk=train.pk %}" class="secondary-content "><i
          class="fa fa-chevron-circle-right history_link" style="font-size:50px;color:#21a3e2;"
          aria-hidden="true"></i></a>
        </li>
        {% endfor %}
</div>

              </div>
        
            </div> 
      
  </div>
</div>

<form method="post"></form>
 <div class="card-panel grey darken-4 ">
  <h2 class="hs__headline">Photos  </h2>
  <div class="row blue_box" data-intro='Add a photo of your Horse by clicking choose file then click save'>
  
  
    <div class="col s12" style="padding:15px;">

       
      <form method="POST"  id="upload_form" >
        <button type="submit" value="Upload"  data-position="bottom" data-tooltip="Click to Save" name="save_photo" class="save-button">  <span><i class="fas fa-save" style="padding-right:0!important;"></i><br>SAVE</span></button>
       
          </span></button>
          <input id="id_image" name="id_image"  type="file"  accept="image/*"  >
        {% csrf_token %}
     
                  </form>
                  <div id ="myProgress" >
                    <div id="myBar" class="not-visible" style="margin-top:40px;"></div>
                      </div>
                      <div id="proc" class="white-text"></div>
          </div>
          <div class="row">
            {% for photo in photos%}
            {% if photo.photo %}
          
            <div class="col s3 m3"><img src="{{MEDIA_URL}}{{ photo.photo }}" alt="" class="materialboxed responsive-img"></div>  
           
            {% else %}
            <p>No images added</p>
            {% endif %}
            {%endfor%}
       
        </div>
      </div>

  
   
    
    </div> 




    <div class="card-panel grey darken-4 ">
      <h2 id="apps">Appointments</h2>

    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">

          <div class="col s11 acc_header">Farrier</div>
          
          <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
          

   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Farrier" %}


          <li> <a class="white-text" href="{% url 'editapp' pk=app.pk %}"><span class=""> {{app.due}}</span></a></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>
      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Vet</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Vet" %}


          <li> <a class="white-text" href="{% url 'editapp' pk=app.pk %}"><span class=""> {{app.due}}</span></a></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>
      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Physio</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Physio" %}


          <li> <a class="white-text" href="{% url 'editapp' pk=app.pk %}"><span class=""> {{app.due}}</span></a></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>

      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Dentist</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Dentist" %}


          <li> <a class="white-text" href="{% url 'editapp' pk=app.pk %}"><span class=""> {{app.due}}</span></a></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>

      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Worming</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Worming" %}


          <li> <a class="white-text" href="{% url 'editapp' pk=app.pk %}"><span class=""> {{app.due}}</span></a></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>

      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Vacs</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Injections" %}


         <li> <a class="white-text" href="{% url 'editapp' pk=app.pk %}"><span class=""> {{app.due}}</span></a></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>

      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Saddler</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Saddler" %}


         <li> <span class=""> {{app.due}}</span></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>
    </ul>




</div>

<form method="post"></form>
 <div class="card-panel grey darken-4 ">
  <h2 class="hs__headline">Passport </h2>
  <div class="row blue_box" data-intro='Add a photo of your passport by clicking choose file then click the save'>
  
  
    <div class="col s12" style="padding:15px;">

       
      <form method="POST"  id="upload_form_passport" >
      <button type="submit" value="Upload"  data-position="bottom" data-tooltip="Click to Save" name="save_photo" class="save-button">  <span><i class="fas fa-save" style="padding-right:0!important;"></i><br>SAVE</span></button>
          <input id="id_image_passport" name="id_image_passport" type="file"  accept="image/*"  >
        {% csrf_token %}
     
                  </form>
                </form>
                <div id ="myProgress_passport" >
                  <div id="myBar_passport" class="not-visible" style="margin-top:40px;"></div>
                    </div>
                    <div id="proc_passport" class="white-text"></div>
      


          </div>
          <div class="row">
            {% for pass in passport%}
            {% if pass.photo %}
          
            <div class="col s3 m3"><img src="{{MEDIA_URL}}{{ pass.photo }}" alt="" class="materialboxed responsive-img"></div>  
           
            {% else %}
            <p>No images added</p>
            {% endif %}
            {%endfor%}
       
        </div>
      </div>
      </div>
    
    </div> 





</div>



{% endblock %} {% block scripts %}
<script>
    var button = document.querySelector('form[name="apps"] > button');
    button.addEventListener(function() {
        document.querySelector("form[name="
            app "]").submit();
    });
</script>
<script src="{% static 'js/slider.js'%}"></script>
<script>
    $(document).ready(function() {
      $('select').material_select();
        $('.collapsible').collapsible();
    });
</script>

<script>
  const uploadForm = document.getElementById('upload_form');
  const input_file = document.getElementById('id_image');
  var elem = document.getElementById("myBar")
  var elem2 = document.getElementById("proc")
  
  $("#upload_form").submit(function(e){
      e.preventDefault();
      $form = $(this)
      var formData = new FormData(this);
      const media_data = input_file.files[0];
      if(media_data != null){
       
         elem.classList.remove("not-visible");
      }

      $.ajax({
          type: 'POST',
          url:'{% url 'photo' pk=selected.pk %}',
          data: formData,
          dataType: 'json',
          beforeSend: function(){
        
            
          },
          xhr:function(){
            
              const xhr = new window.XMLHttpRequest();
              xhr.upload.addEventListener('progress', e=>{
                  if(e.lengthComputable){
                      const percentProgress = (e.loaded/e.total)*100;
                      if(percentProgress >= 100){
                        proc.insertAdjacentText('beforeend', 'Resizing image please wait...');
                      }
                      console.log(percentProgress);
                      elem.style.width = percentProgress + "%";
                
                  }
                
              });  
              return xhr
          },
          success: function(response){
              console.log(response);
              console.log('success')
              uploadForm.reset()
              elem.classList.add('not-visible')
              location.reload()
          },
          error: function(err){
              console.log(err);
              console.log('fail')
              location.reload()
          },
          cache: false,
          contentType: false,
          processData: false,
      });
  });

</script>
<!-- upload for passport temp duplication]-->
<script>
  const uploadFormPass = document.getElementById('upload_form_passport');
  const input_filePass = document.getElementById('id_image_passport');
  var elemPass = document.getElementById("myBar_passport")
  var elem2Pass = document.getElementById("proc_passport")
  
  $("#upload_form_passport").submit(function(e){
      e.preventDefault();
      $form = $(this)
      var formData = new FormData(this);
      const media_data = input_filePass.files[0];
      if(media_data != null){
     
        elemPass.classList.remove("not-visible");
      }

      $.ajax({
          type: 'POST',
          url:'{% url 'savepassport' pk=selected.pk %}',
          data: formData,
          dataType: 'json',
          beforeSend: function(){
        
            
          },
          xhr:function(){
            console.log('xhr')
              const xhr = new window.XMLHttpRequest();
              xhr.upload.addEventListener('progress', e=>{
                  if(e.lengthComputable){
                      const percentProgress = (e.loaded/e.total)*100;
                      if(percentProgress >= 100){
                        proc_passport.insertAdjacentText('beforeend', 'Resizing image please wait...');
                      }
                      console.log(percentProgress);
                      elemPass.style.width = percentProgress + "%";
                
                  }
                
              });  
              return xhr
          },
          success: function(response){
              console.log(response);
              console.log('success')
              uploadFormPass.reset()
              elemPass.classList.add('not-visible')
              location.reload()
          },
          error: function(err){
              console.log(err);
              console.log('fail')
              location.reload()
          },
          cache: false,
          contentType: false,
          processData: false,
      });
  });

</script>

{% endblock %}