{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %} {% block head %}

<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/horse_det.css' %}"> {% endblock %} {% block content %}

<style>
    .cardHeading {
        color: #21a3e2;
    }

    .card-panel,.card{
      border-radius:10px;
    }

    .tabs li a{
      color:#0288d1!important;
    }
    .indicator{
        background-color:white!important;
        margin-top:5px;
    }

    nav{
        background-color:black!important;
    }

    .caret{
        color:white!important;
    }
    .material-icons{
        {% comment %} font-size:40px; {% endcomment %}
        color:white;
        padding-top:10px;
    }
    .session_title{
        font-size:40px;
        color:white;
        text-align:center;
        font-weight:600;

    }

    button{
        border-radius:10px;
        background-colour:#21a3e2!important;
        min-height:50px;
    }

    .i_color{
        color:#21a3e2!important;
       
    }


    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
  }

  label{
      text-size:1 rem!important;
      font-family: 'Roboto', 'Helvetica', sans-serif;
  }
 

.file-field .btn{
      display:none;
  }
  .file-path-wrapper{
      display:none;
  }

  button{
      border-radius:10px;
      float:right;
  }

  .acc_down{
   
    color:black;
  }

  .acc_header{
    font-size:20px;
    color:#0288d1;
  }

  .bl{
    letter-spacing: 2px;
    font-weight:600;
  }

  .photo_button{
    margin:10px!important;
width:100%;
  }

  .photo_title{
    margin:40px!important;
  }


</style>

<nav>
    <div class="nav-wrapper">
        <div class="col s12 breadcrumb">
            <a href="{% url 'home' %}" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Edit</a>

        </div>
    </div>
</nav>
{% comment %} 
<h2>Select A Horse</h2>
<ul class="hs" data-intro='Select a different horse here'>
    {% for horse in horses %}
    <li class="hs__item">

        <div class="hs__item__image__wrapper">

            <a href="{{horse.pk}}"> <img class="hs__item__image" src="{{MEDIA_URL}}{{ horse.photo}}" alt="{{horse.showName}}" /></a>

        </div>

        <div class="hs__item__description">

            <span class="hs__item__title white-text">{{horse.showName}}</span>



        </div>

    </li>

    {% endfor %}
</ul> {% endcomment %}

<div class="card-panel grey darken-4">
  <form method="POST" enctype="multipart/form-data" >
  <div class="row">
      <div class="col s6"><b>{{selected.stableName}}</b></div>
      <div class="col s2 session_title"> </div>
      <div class="col s4">
          <button type="submit" data-position="bottom" data-tooltip="Click to Save" name="save_log"><span class="material-icons">
          save
          </span></button></div>
  </div>


    <div class="row">
  
                    <h4 class="cardHeading">Key Info</h4>
                    <ul    class-"key_info">
                        <li><span class="bl">STABLE NAME:</span> {{selected.stableName}}</li>
                        <li><span class="bl">SHOW NAME:</span> {{selected.showName}}</li>
                        <li><span class="bl">DOB:</span> {{selected.Dob}}</li>
                        <li><span class="bl">GENDER:</span> {{selected.Gender}}</li>
                        <li><span class="bl">OWNER:</span> {{selected.owner}}</li>
                        <li><span class="bl">E MAIL:</span> {{selected.owner_email}}</li>
                        <li><span class="bl">MOBILE:</span> {{selected.owner_mobile}}</li>

                    </ul>
           
             
                    <p data-intro='Click the link to access the horse set up wizard and edit remove horse'><a href="{% url 'edithorse' pk=selected.pk %}">Edit Details or Delete Horse</a></p>
            
            </div>


            
            <div class="row">
          
              <div class="col s12">
                  
                <ul class="tabs grey darken-4">
                  <li class="tab col s3"><a href="#test1" class="active">  <i class="material-icons small i_color">link</i></a></li>
                  <li class="tab col s3"><a  href="#test2"><i class="material-icons small i_color">assignment</i></a></li>
                  <li class="tab col s3"><a  href="#test3"><i class="material-icons small i_color">school</i></a></li>
                  
                
                </ul>
              </div>
              <div id="test1" class="col s12">
                <h2 class="hs__headline">Links</h2>
                <div class="row blue_box">
                  <ul>
                    <li data-intro='Click the link to view and edit tack'><a href="{% url 'tackedit' pk=selected.pk %}" class="white-text">Tack Record</a></li>
                    {% for link in links %}
                    <li> <a href={{link.link}} class="white-text">{{link.organisation}}</a></li>
   
                    {% endfor %}
                    <li data-intro='Click the link to view and edit tack'><a href="{% url 'links' pk=selected.pk %}" class="blue-text">Add/Delete Links</a></li>
                </ul>
     
                </div> 

              </div>
              <div id="test2" class="col s12">
                <h2 class="hs__headline">Notes</h2>
                <div class="row blue_box">
                  <p>{{selected.notes}}</p>
                </div> 
              </div>
              <div id="test3" class="col s12">

                
<h2 class="hs__headline">Training</h2>
<div class="row blue_box">
<div class="row " style="padding-bottom:20px;" data-intro='Training history for your horse'>

    <ul class="collection" style="border:none!important;">
        {% for train in training %}
        <li class="collection-item avatar " style="background-color:#212121!important">
            <img src="{{MEDIA_URL}}{{train.disipline.image}}" alt="train.disipline.disipline" class="circle">
            <span class="disipline_title ">{{train.disipline.disipline}} {{train.date}}</span>
            <p class="disipline_type">Training Session
            </p>
            <a href="{% url 'training_edit' pk=train.pk %}" class="secondary-content "><i
          class="fa fa-chevron-circle-right history_link" style="font-size:50px;color:#21a3e2;"
          aria-hidden="true"></i></a>
        </li>
        {% endfor %}
</div>

              </div>
        
            </div> 
      
  </div>
</div>

<form method="post"></form>
 <div class="card-panel grey darken-4 ">
  <h2 class="hs__headline">Photos {{selected.pk}} </h2>
  <div class="row blue_box" data-intro='Add a photo of your passport by clicking choose file then click the +'>
  
  
    <div class="col s12" style="padding:15px;">

       
      <form method="POST"  action="{% url 'photo' pk=selected.pk %}"enctype="multipart/form-data" name="photo">
        <button type="submit" data-position="bottom" data-tooltip="Click to Save" name="save_photo"><span class="material-icons">
          save
          </span></button>
          <input id="pic" name="pic" type="file"  accept="image/*"  >
        {% csrf_token %}
     
                  </form>

          </div>
          <div class="row">
            {% if selected.photo %}
            <div class="col s3 materialboxed ">
              <img src="{{MEDIA_URL}}{{ selected.photo }}" class="responsive-img">
           
            {% else %}
            <p>No images added</p>
            {% endif %}
          </div>
        </div>
      </div>
    
    </div> 






 
    <div class="card-panel grey darken-4 ">
      <h2 id="apps">Appointments</h2>

    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">

          <div class="col s11 acc_header">Farrier</div>
          
          <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
          

   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Farrier" %}


         <li> <span class=""> {{app.due}}</span></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>
      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Vet</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Vet" %}


         <li> <span class=""> {{app.due}}</span></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>
      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Physio</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Physio" %}


         <li> <span class=""> {{app.due}}</span></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>

      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Dentist</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Dentist" %}


         <li> <span class=""> {{app.due}}</span></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>

      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Worming</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Worming" %}


         <li> <span class=""> {{app.due}}</span></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>

      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Vacs</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Injections" %}


         <li> <span class=""> {{app.due}}</span></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>

      <li>
        <div class="collapsible-header">
           <div class="col s11 acc_header">Saddler</div>
          
         <div class-"col s1"> <i class="material-icons acc_down">expand_more</i></div>
   
        </div>
        <div class="collapsible-body"><span>
 <ul>
          {% for app in appointments %}
          {% if app.event.appType == "Saddler" %}


         <li> <span class=""> {{app.due}}</span></li>
      
      {% endif %}


      {% endfor %}
      <li><a href="{% url 'appointment' pk=selected.pk %}" class="add_appoint"> Add A Appointment</a></li>
 </ul>
        </span></div>
      </li>
    </ul>




</div>

<form method="post"></form>
 <div class="card-panel grey darken-4 ">
  <h2 class="hs__headline">Passport </h2>
  <div class="row blue_box" data-intro='Add a photo of your passport by clicking choose file then click the +'>
  
  
    <div class="col s12" style="padding:15px;">

       
      <form method="POST"  action="{% url 'savepassport' pk=selected.pk %}"enctype="multipart/form-data" name="pass">
        <button type="submit" data-position="bottom" data-tooltip="Click to Save" name="save_photo"><span class="material-icons">
          save
          </span></button>
          <input id="pic" name="pic" type="file"  accept="image/*"  >
        {% csrf_token %}
     
                  </form>

          </div>
          <div class="row">
            {% if selected.passport %}
            <div class="col s3 materialboxed ">
              <img src="{{MEDIA_URL}}{{ selected.passport }}" class="responsive-img">
           
            {% else %}
            <p>No images added</p>
            {% endif %}
          </div>
        </div>
      </div>
    
    </div> 






{% comment %} <div class="card-panel grey darken-4 ">
  <h2 class="hs__headline">Horse Passport</h2>
  <div class="row blue_box" data-intro='Add a photo of your passport by clicking choose file then click the +'>
  <form method="POST"></form<!-- do not delete-->
  
    <div class="col s12 " style="padding:15px;">



      
      <form method="POST"  action="{% url 'savepassport' pk=selected.pk %}"enctype="multipart/form-data" name="pass">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      <button type="submit" data-position="bottom" data-tooltip="Click to Save" name="save_pass"><span class="material-icons">
          save
          </span></button> 
          <input id="pass" name="pass" type="file"  accept="image/*"  >
        {% csrf_token %}

                  </form>
  
      <img src="{{MEDIA_URL}}{{ selected.passport}}" class="ppimage" layout="responsive" alt="horse passport"></amp-img>
    
    </div>


</div>
</div> {% endcomment %}
</div>



{% endblock %} {% block scripts %}
<script>
    var button = document.querySelector('form[name="apps"] > button');
    button.addEventListener(function() {
        document.querySelector("form[name="
            app "]").submit();
    });
</script>
<script src="{% static 'js/slider.js'%}"></script>
<script>
    $(document).ready(function() {
      $('select').material_select();
        $('.collapsible').collapsible();
    });
</script>

{% endblock %}