{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Home{% endblock %}
     

      {% block head %}
   
        <link rel="stylesheet" href="{% static 'css/chevron.css' %}"> 
         <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
      {% endblock %}
     
  
     
     {% block content %}
 
     <style>.date label{margin-top: -30px!important;}.obj-form input{color:black!important;} form{color:white!important;}
      .card-action a{
        color:#0288d1!important;
       background-color:white;
      }
   .card_text{
     font-weight: 700;
     text-transform:uppercase;
     color:black
   }
    label{
      margin-top:-20px;
    }
     .card-panel,.card{
         border-radius:10px;
       }
 
       .tabs li a{
         color:#0288d1!important;
       }
       .indicator{
           background-color:white!important;
           margin-top:5px;
       }
 
       nav{
           background-color:black!important;
       }
 
       .caret{
           color:white!important;
       }
       .material-icons{
           {% comment %} font-size:40px; {% endcomment %}
           color:white;
           padding-top:10px;
       }
       .session_title{
           font-size:40px;
           color:white;
           text-align:center;
           font-weight:600;
    
       }
 
       button{
           border-radius:10px;
           background-colour:#21a3e2!important;
       }
 
       .i_color{
           color:#21a3e2!important;
          
       }
 
 
       ::-webkit-calendar-picker-indicator {
         filter: invert(1);
     }
 
     label{
         text-size:1 rem!important;
         font-family: 'Roboto', 'Helvetica', sans-serif;
     }
    
 
 .file-field .btn{
         display:none;
     }
     .file-path-wrapper{
         display:none;
     }
 
     button{
         border-radius:10px;
     }
 
    
  .fa-trophy{
   color: white;
   font-size: 20px;
     }
    select{
     background-color: #212121!important;
    }
 </style>


 {% comment %} <div class="h5">Numbered - <code>.numbered</code></div>
      <div class="multi-step numbered">
        <ul class="multi-step-list">
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Horse</p>
            </div>
          </li>
          <li class="multi-step-item active ">
            <div class="item-wrap">
              <p class="item-title">Add Photo</p>
            </div>
          </li>
          <li class="multi-step-item active ">
            <div class="item-wrap">
              <p class="item-title">Add Tack</p>
            </div>
          </li>
          <li class="multi-step-item active current">
            <div class="item-wrap">
              <p class="item-title">Add Links</p>
            </div>
          </li>
        </ul>
      </div> {% endcomment %}
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#!" class="breadcrumb">Links 4/4</a>
           
          </div>
        </div>
      </nav>
 
      <div class="row">
<p class="white-text col m6 push-m3"> Add a link such as a BE record or Breeder website</p>
</div>

<div class="card-panel grey darken-4">
  <h2>Links</h2>
                         <div class="row" > 
                        <form method="POST">
                        
                             <div class="col s12 m10 blue_box"  data-intro='Add a title such as BE record, add a link then click the +. Mutiple links can be added.' >
                                  {{ link|materializecss}}
                            
                                              <button type="submit" class= 'subplus tooltipped'  data-position="bottom" data-tooltip="Click to Add"><span class="blutext">+<span></button>
                               
                                 {% csrf_token %} 
                          </form>
                      
                               {% comment %} <ul>
                                {% for lin in links %}
                                <li class="white-text">{{lin.organisation}}: {{lin.link}}</li>
                                {% endfor %}
                                <li  ><a href="{% url 'home'%}" style="float: right;"><span class="blutext" data-intro='Click to end the wizard'>Finish</span></a></li>
                                 </ul> {% endcomment %}
                           

                           
                     

                    
             
                          
                          {% for lin in links %}
                          
                         <a href="{{lin.link}}"> <div class="chip">
                            {{lin.organisation}}
                            <a href="{% url 'deletelink' pk=lin.pk %}"<i class="fas fa-trash-alt"></i></a>
                           
                         </div></a>
                    
                         {% endfor %}
                         <a href="{% url 'home'%}" style="float: right;"><span class="blutext" data-intro='Click to end the wizard'>Finish</span></a>
            </div>
          </div>
        
                     
             {% endblock %}
              
{% block scripts %}

   <script>
$(document).ready(function(){

  // Initialize materialize data picker
  //$('input').datepicker({'format': 'yyyy-mm-dd'}); 
   $('select').formSelect();
   //$('input').timepicker()
  

  });
</script>            

{% endblock %}

