{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Home{% endblock %}
     

      {% block head %}
   
        <link rel="stylesheet" href="{% static 'css/chevron.css' %}"> 
         <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
      {% endblock %}
     
  
     
     {% block content %}
 
<style>

</style>

<h2>Links</h2>
 <div class="h5">Numbered - <code>.numbered</code></div>
      <div class="multi-step numbered">
        <ul class="multi-step-list">
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Horse</p>
            </div>
          </li>
          <li class="multi-step-item active ">
            <div class="item-wrap">
              <p class="item-title">Add Photo</p>
            </div>
          </li>
          <li class="multi-step-item active current">
            <div class="item-wrap">
              <p class="item-title">Add Tack</p>
            </div>
          </li>
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Links</p>
            </div>
          </li>
        </ul>
      </div>
 <div class="row">
<p class="white-text col m6 push-m3"> Add a link such as a BE record or Breeder website</p>
</div>
                         <div class="row" > 
                        <form method="POST">
                        
                             <div class="col s12 m6 push-m3 blue_box">
                                  {{ link|materializecss}}
                            
                                              <button type="submit" class= 'subplus tooltipped'  data-position="bottom" data-tooltip="Click to Add"><span class="blutext">+<span></button>
                               
                                 {% csrf_token %} 
                          </form>
                      
                               <ul>
                                {% for lin in links %}
                                <li class="white-text">{{lin.organisation}}: {{lin.link}}</li>
                                {% endfor %}
                                <li><a href="{% url 'home'%}"><span class="blutext">Finish</span></a></li>
                                 </ul>

                           </div>
                     

                         <div class="col  m6 center-align">
             
                          
                      
                       </div>
                       
             </div> 
                     
             {% endblock %}
              
{% block scripts %}

   <script>
$(document).ready(function(){

  // Initialize materialize data picker
  //$('input').datepicker({'format': 'yyyy-mm-dd'}); 
   $('select').formSelect();
   //$('input').timepicker()
  

  });
</script>            

{% endblock %}

