{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Home{% endblock %}
     

      {% block head %}
   
        <link rel="stylesheet" href="{% static 'css/chevron.css' %}"> 
         <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
         <link rel="stylesheet" href="{% static 'css/horse.css' %}"> 
      {% endblock %}
     
  
     
     {% block content %}
 
    

     <nav>
      <div class="nav-wrapper">
        <div class="col s12 breadcrumb">
          <a href="{% url 'detailsInd' horse.pk %}" class="breadcrumb">Horse</a>
          <a href="#!" class="breadcrumb">Links</a>
         
        </div>
      </div>
    </nav>
 


<div class="card-panel grey darken-4">
  <h2>Links</h2>
                         <div class="row" > 
                        <form method="POST">
                        
                             <div class="col s12 m10 blue_box"  data-intro='Add a title such as BE record, add a link then click the +. Mutiple links can be added.' >
                                  {{ link|materializecss}}
                            
                                              <button type="submit" class= 'subplus tooltipped'  data-position="bottom" data-tooltip="Click to Add"><span class="blutext">+<span></button>
                               
                                 {% csrf_token %} 
                          </form>
                      
                               {% comment %} <ul>
                                {% for lin in links %}
                                <li class="white-text">{{lin.organisation}}: {{lin.link}}</li>
                                {% endfor %}
                                <li  ><a href="{% url 'home'%}" style="float: right;"><span class="blutext" data-intro='Click to end the wizard'>Finish</span></a></li>
                                 </ul> {% endcomment %}
                           

                           
                     

                    
             
                          
                          {% for lin in links %}
                          
                         <a href="{{lin.link}}"> <div class="chip">
                            {{lin.organisation}}
                            <a href="{% url 'deletelink' pk=lin.pk %}"<i class="fas fa-trash-alt"></i></a>
                           
                         </div></a>
                    
                         {% endfor %}
                       
            </div>
          </div>
        
                     
             {% endblock %}
              
{% block scripts %}

   <script>
$(document).ready(function(){

  // Initialize materialize data picker
  //$('input').datepicker({'format': 'yyyy-mm-dd'}); 
   $('select').formSelect();
   //$('input').timepicker()
  

  });
</script>            

{% endblock %}

