{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Home{% endblock %}
     

     {% block head %}
   
        {% comment %} <link rel="stylesheet" href="{% static 'css/form.css' %}">  {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/chevron.css' %}"> 
      {% endblock %}
     
     {% block content %}

     
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% endcomment %}



<h2>Add Photo</h2>
  <div class="h5">Numbered - <code>.numbered</code></div>
      <div class="multi-step numbered">
        <ul class="multi-step-list">
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Horse</p>
            </div>
          </li>
          <li class="multi-step-item active current">
            <div class="item-wrap">
              <p class="item-title">Add Photo</p>
            </div>
          </li>
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Tack</p>
            </div>
          </li>
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Links</p>
            </div>
          </li>
        </ul>
      </div>


              <form method="POST" enctype="multipart/form-data">
                     
                     
                     <div class="row" > 

                       
                 
                       <div class="col s12 m6 push-m3 image_ph ">

                           <img src= "{{MEDIA_URL}}{{newHorse.photo}}" height = "100%" width="100%" class="responsive" alt='placeholder'/>
                       </div>
                      </div><!-- end row-->
                           <div class= "row">
                         <div class="col s12 m6 push-m3  ">
                                              
                             <input id="pic" name="pic" type="file" class='custom-file-input' accept="image/*">
                       </div>
      
                     </div><!--end row-->
                     
                     </div>
                    
                      <div class= "row">
                         <div class="col s12 m6 push-m3  ">
                     {% csrf_token %} 
                      <button type="submit"  class="btn btn-success">Add Photo</button>
                                  <button type="button" style="margin:auto; display:block; margin-top:20px;" class="btn btn-success" onclick="location.href='{% url 'tackedit' pk=newHorse.pk %}'">Add/Edit Tack</button>
  
                      </div>
                      </div><!--endrow-->
                      </form>
                     
     {% endblock %}                
{% block scripts %}
   <script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
   $('select').formSelect();


  });


</script>             

{% endblock %}
