{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Tack{% endblock %}
     

     {% block head %}
   
        {% comment %} <link rel="stylesheet" href="{% static 'css/form.css' %}">  {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/chevron.css' %}"> 
         <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
          
      {% endblock %}
     
  
     
     {% block content %}

     
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% endcomment %}
  <nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
        <a href="{% url 'detailsInd' pk=horse.pk %}" class="breadcrumb">Edit</a>
        <a href="#!" class="breadcrumb">Tack</a>
      </div>
    </div>
  </nav>

 


<h2>Tack</h2>
 

 

                         <div class="row" > 
                        <form method="POST">
                        
                             <div class="col s12 m10 blue_box"  data-intro='Select tack type, add a description then click the +. Mutiple tack can be added. If you wish to remove something click the bin'>
                                  {{ tack|materializecss}}
                             {% csrf_token %} 
                                              <button type="submit" class= 'subplus tooltipped'  data-position="bottom" data-tooltip="Click to Add"><span class="blutext">+<span></button>
                             </form>



                                {% for tack in tackdetails %}
                                <li class="white-text">{{tack.tacktype}}: {{tack.description}}  <a href="{% url 'deletetack' pk=tack.pk %}"<i class="fas fa-trash-alt"></i></a></li>
                              
                                {% endfor %}
    
                                
                                 </ul>

                           </div>
                     

                         <div class="col  m6 center-align">
             
                          
                        
                      
                       </div>
                       
             </div> 
                  <button type="button" data-intro='Click to move to the next section' style="margin:auto; display:block;" class="btn btn-success" onclick="location.href='{% url 'links' %}'">Add/Edit Links</button>
                  <a href="{% url 'links'  %}" style="float: right;">SKIP</a>
             {% endblock %}
              
{% block scripts %}

   <script>
$(document).ready(function(){

  // Initialize materialize data picker
  //$('input').datepicker({'format': 'yyyy-mm-dd'}); 
   $('select').formSelect();
   //$('input').timepicker()
  

  });
</script>            

{% endblock %}

