{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Tack{% endblock %}
     

     {% block head %}
   
        {% comment %} <link rel="stylesheet" href="{% static 'css/form.css' %}">  {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/chevron.css' %}"> 
         <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
      {% endblock %}
     
  
     
     {% block content %}
       
     
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% endcomment %}

 
<style>

</style>

<h2>Tack</h2>
 

  <div class="h5">Numbered - <code>.numbered</code></div>
      <div class="multi-step numbered">
        <ul class="multi-step-list">
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Horse</p>
            </div>
          </li>
          <li class="multi-step-item active ">
            <div class="item-wrap">
              <p class="item-title">Add Photo</p>
            </div>
          </li>
          <li class="multi-step-item active current">
            <div class="item-wrap">
              <p class="item-title">Add Tack</p>
            </div>
          </li>
          <li class="multi-step-item active">
            <div class="item-wrap">
              <p class="item-title">Add Links</p>
            </div>
          </li>
        </ul>
      </div>

                         <div class="row" > 
                        <form method="POST">
                        
                             <div class="col s12 m6 push-m3 blue_box">
                                  {{ tack|materializecss}}
                             {% csrf_token %} 
                                              <button type="submit" class='subplus tooltipped'  data-position="bottom" data-tooltip="Click to Add"><span class="blutext">+<span></button>
                             </form>



                                {% for tack in tackdetails %}
                                <li class="white-text">{{tack.tacktype}}: {{tack.description}}</li>
                              
                                {% endfor %}
                                 <li><a href="{% url 'links'%}"><span class="blutext">Next</span></a></li>
                                
                                 </ul>

                           </div>
                     

                         <div class="col  m6 center-align">
             
                          
                      
                      
                       </div>
                       
             </div> 
             {% endblock %}
              
{% block scripts %}

   <script>
$(document).ready(function(){

  // Initialize materialize data picker
  //$('input').datepicker({'format': 'yyyy-mm-dd'}); 
   $('select').formSelect();
   //$('input').timepicker()
  

  });
</script>            

{% endblock %}

