{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Tack{% endblock %}
     

     {% block head %}
   
        {% comment %} <link rel="stylesheet" href="{% static 'css/form.css' %}">  {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/chevron.css' %}"> 
         <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
         <link rel="stylesheet" href="{% static 'css/horse.css' %}"> 
          
      {% endblock %}
     
  
     
     {% block content %}

     

     <nav>
      <div class="nav-wrapper">
        <div class="col s12 breadcrumb">
          <a href="{% url 'detailsInd' horse.pk %}" class="breadcrumb">Horse</a>
          <a href="#!" class="breadcrumb">Tack</a>
         
        </div>
      </div>
    </nav>

  <div class="card-panel grey darken-4">


<h2>Tack</h2>
 

 

                         <div class="row" > 
                        <form method="POST">
                        
                             <div class="col s12 m10 blue_box"  data-intro='Select tack type, add a description then click the +. Mutiple tack can be added. If you wish to remove something click the bin'>
                                  {{ tack|materializecss}}
                             {% csrf_token %} 
                                              <button type="submit" class= 'subplus tooltipped'  data-position="bottom" data-tooltip="Click to Add"><span class="blutext">+<span></button>
                             </form>



                       
                                {% for tack in tackdetails %}
                                <div class="chip">
                                  {{tack.tacktype}}: {{tack.description}}
                                  <a href="{% url 'deletetack' pk=tack.pk %}"<i class="fas fa-trash-alt"></i></a>
                                </div>
                                {% endfor %}
                                
                               

                           </div>
                     

                         <div class="col  m6 center-align">
             
                          
                        
                      
                       </div>
                       
             </div> 
                 
                  <a href="{% url 'detailsInd' pk=horse.pk %}" style="float: right;">Return to Horse</a>
            </div>
                  {% endblock %}
              
{% block scripts %}

   <script>
$(document).ready(function(){

  $('select').material_select();

  

  });
</script>            

{% endblock %}

