{% extends 'base.html' %}
{% load static%} {% load materializecss %}{% block page_title %}Select{% endblock %} {% block head %}

<link rel="stylesheet" href="{% static 'css/page.css' %}" /> 

<!--draw js-->
<script src="{% static 'css/draw.css' %}"></script>
<script src="{% static 'js/jquery.jqscribble.js' %}"></script>
<script src="{% static 'js/jquery.extrabrushes.js' %}"></script>


{% endblock %} 

{% block content %}


<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
         
        <a href="#!" class="breadcrumb">Draw</a>
       
      </div>
    </div>
  </nav>

<h4>Draw</h4>

  <style>
	
		</style>
	</head>
	<body>
		<div style="overflow: hidden; margin-bottom: width:90%;5px;">
			<div class="column-left links" data-intro='Select a color for your pen then draw on the canvas with finger or mouse'>
				<strong class="blue-text">BRUSHES:</strong>
					<a href="#" onclick='$("#test").data("jqScribble").update({brushColor: "rgb(0,0,0)"});'>Black</a>
				<a href="#" onclick='$("#test").data("jqScribble").update({brushColor: "rgb(255,0,0)"});'>Red</a>
				<a href="#" onclick='$("#test").data("jqScribble").update({brushColor: "rgb(0,255,0)"});'>Green</a>
				<a href="#" onclick='$("#test").data("jqScribble").update({brushColor: "rgb(0,0,255)"});'>Blue</a>
				
				
			</div>
	
		</div>
		<canvas id="test" style="border: 1px solid red;"></canvas>
		<div class="links" style="margin-top: 5px;">
			<strong class="blue-text">OPTIONS:</strong>
			
			<button class="waves-effect waves-light btn">	<a href="#" onclick='$("#test").data("jqScribble").clear();' data-intro='Clear the canvas' class="save">Clear</a></button>
			
			<button class="waves-effect waves-light btn"><a href="#" onclick='save();' data-intro='Make sure you save the diagram. You cannot edit a diagram but you can add a new one' class="save">Save Drawing</a></button>
		</div>


    {% endblock %} 


{% block scripts %}

<!--script saves drawing-->


		<script type="text/javascript">
	function save()
		{
			$("#test").data("jqScribble").save(function(imageData)
			{
				if(confirm("This will save your drawing to the training record. Is that ok with you?"))
				{
					$.post("{%url 'savedraw' pk=pk %}", {imagedata: imageData,csrfmiddlewaretoken: '{{ csrf_token }}'},function(response)
					{
						/*$('body').append(response);*/
						window.location.replace("{% url 'training_edit' pk=pk %}")
					});	
				}
			});
		}
		function addImage()
		{
			var img = prompt("Enter the URL of the image.");
			if(img !== '')$("#test").data("jqScribble").update({backgroundImage: img});
		}
		$(document).ready(function()
		{
			
				$("#test").jqScribble();
		});


		</script>




{% endblock %}

