{% extends 'base.html' %}
{% load static%} {% load materializecss %}{% block page_title %}Select{% endblock %} {% block head %}


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

   <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
{% comment %} <script type="text/javascript" src="{% static 'js/lib/jquery.ui.core.min.js'%} "></script>

<script type="text/javascript" src="{% static 'js/lib/jquery.ui.widget.min.js'%} "></script>

<script type="text/javascript" src="{% static 'js/lib/jquery.ui.mouse.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/lib/jquery.ui.draggable.min.js' %}"></script> {% endcomment %}


<script src="{% static 'js/jquery.jqscribble.js' %}"></script>
<script src="{% static 'js/jquery.extrabrushes.js' %}"></script>


{% endblock %} {% block content %}

<style>
nav {
    color: #101010!important;

}
</style>
<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
         
        <a href="#!" class="breadcrumb">Draw</a>
       
      </div>
    </div>
  </nav>

<h4>Draw</h4>

  <style>
			.links a {
				padding-left: 10px;
				margin-left: 10px;
				border-left: 1px solid #000;
				text-decoration: none;
				color: #999;
        font-size:12px!important;
			}
			.links a:first-child {
				padding-left: 0;
				margin-left: 0;
				border-left: none;
			}
			.links a:hover {text-decoration: underline;}
			.column-left {
				display: inline; 
				float: left;
             font-size:12px!important;
			}
			.column-right {
				display: inline; 
				float: right;
        font-size:12px!important;
			}
		</style>
	</head>
	<body>
		<div style="overflow: hidden; margin-bottom: width:90%;5px;">
			<div class="column-left links" data-intro='Select a color for your pen then draw on the canvas with finger or mouse'>
				<strong class="blue-text">BRUSHES:</strong>
					<a href="#" onclick='$("#test").data("jqScribble").update({brushColor: "rgb(0,0,0)"});'>Black</a>
				<a href="#" onclick='$("#test").data("jqScribble").update({brushColor: "rgb(255,0,0)"});'>Red</a>
				<a href="#" onclick='$("#test").data("jqScribble").update({brushColor: "rgb(0,255,0)"});'>Green</a>
				<a href="#" onclick='$("#test").data("jqScribble").update({brushColor: "rgb(0,0,255)"});'>Blue</a>
				
				
			</div>
	
		</div>
		<canvas id="test" style="border: 1px solid red;"></canvas>
		<div class="links" style="margin-top: 5px;">
			<strong class="blue-text">OPTIONS:</strong>
			
			<a href="#" onclick='$("#test").data("jqScribble").clear();' data-intro='Clear the canvas'>Clear</a>
			
			<a href="#" onclick='save();' data-intro='Make sure you save the diagram. You cannot edit a diagram but you can add a new one'>Save Drawing</a>
		</div>


    {% endblock %} 


{% block scripts %}




		<script type="text/javascript">
	function save()
		{
			$("#test").data("jqScribble").save(function(imageData)
			{
				if(confirm("This will save your drawing to the training record. Is that cool with you?"))
				{
					$.post("{%url 'savedraw' pk=pk %}", {imagedata: imageData,csrfmiddlewaretoken: '{{ csrf_token }}'},function(response)
					{
						/*$('body').append(response);*/
						window.location.replace("{% url 'training_edit' pk=pk %}")
					});	
				}
			});
		}
		function addImage()
		{
			var img = prompt("Enter the URL of the image.");
			if(img !== '')$("#test").data("jqScribble").update({backgroundImage: img});
		}
		$(document).ready(function()
		{
			
				$("#test").jqScribble();
		});


		</script>




{% endblock %}

