{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %}
     

  {% block head%}
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
            

 <link rel="stylesheet" href="{% static 'css/page.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
  {% endblock %}
   {% block content %} 

   <style>
   

   
   </style>

<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
         
        <a href="#!" class="breadcrumb">Edit Training</a>
       
      </div>
    </div>
  </nav>
<h4>{{session.disipline.disipline}}</h4>

<div class="nativeCal" style="display:{{display}};">

<a href="{% url 'EventFeed3' %}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add To Calendar</a>

</div>

   
      <div class="">

     <img class="selected-image" src="{{MEDIA_URL}}{{ session.disipline.image}}" alt="{{customimg.disipline}}" />
      
      </div>

  <h2>Session Objectives</h2>
    <div class="row">

    <div class="col s12 m6 obj_display">
    <h5> Enter an Objective </h5>
           <form method="POST" >
              {{obj.objective|materializecss}} {% csrf_token %}
     <button type="submit" class= 'subplus' name="save_obj"><span class="blutext">+<span></button>
     </form>
    </div>

     <div class="col s12 m6">
     <h5>My Objective</h5>
     <ol>
       {% for obj in listObj %}
        <li class="white-text"> <a href="{% url 'checkOb' pk=obj.pk %}">{{obj.objective}}</a>
 
        {% if obj.Completed == True %}
           <i class="fa fa-check green-text" aria-hidden="true"></i>
        {% endif %}
           
           </li>
         {% endfor %}
      </ol>   
     </div>
  
    
       {% comment %} <div class="col m8 l10">
      
                     <span class="material-icons white-text" style="padding:5px;">
            edit
            </span>
          
       
       </div>
       <div class="col m2">
       {% csrf_token %}
           <button type="submit" class= 'subplus' name="save_obj"><span class="blutext">+<span></button>
       
       </div>
       </form>
          
      <table class="white-text">
        <thead>
          <tr>
              <th>Objective</th>
              <th>Completed</th>
              <th>Update</th>
          </tr>
        </thead>

        <tbody>
          {% for obj in listObj %}
          <tr>
            <td><input type="text" value="{{obj.objective}}"></td>
            <td>  <div class="switch">
                <label>
                
                  <input type="checkbox"  value="{{obj.Completed}}">
                  <span class="lever"></span>
                  Done
                </label>
              </di</td>
            <td><button type="submit"  class="btn btn-success btn-small">Update</button></td>
          </tr>
     {% endfor %}
        </tbody>
      </table>

  {% endcomment %}
</div> <!--endrow-->

   
  

       <h2 class="hs__headline">Session Details</h2>
    <div class="row blue_box">
          <form method="POST" enctype="multipart/form-data" class="col s12">
              <span class="material-icons white-text" style="padding:5px;">
edit
</span>
      <div class="row">
        <div class="input-field col s6">
     
          {{form.instructor|materializecss}} 
        
        </div>
        <div class="input-field col s6">
      
         {{form.horse|materializecss}} 
          
        </div>
      </div>
          <div class="row">
        <div class="input-field col s6">
         {{form.date|materializecss}} {{session.date}}
        </div>
        <div class="input-field col s6">
         
         {{form.location|materializecss}} 
        </div>
                <div class="input-field col s12">
<span class="material-icons yellow-text">
emoji_objects
</span>
           {{form.lightbulb|materializecss}} 
        </div>
        <div class="input-field col s12">

         {{form.notes|materializecss}} 
        </div>
      </div>
 
    
    </div>

     



     <h2 class="hs__headline">Little Wins</h2>
    <div class="row blue_box" >
  
       
       <div class="col m10">
                     <span class="material-icons white-text" style="padding:5px;">
edit
</span>
       
          {{form.littlewins1|materializecss}}
       
       </div>
       <div class="col m2">
         <div class="plus_holder"><i class="fa fa-plus plus" aria-hidden="true"></i></div>
       
       </div>
     <div class="col m10">
   
                         <span class="material-icons white-text" style="padding:5px;">
edit
</span>
       
          {{form.littlewins2|materializecss}}
       
       </div>
       <div class="col m2">
         <div class="plus_holder"><i class="fa fa-plus plus" aria-hidden="true"></i></div>
     
     </div>

      <div class="col m10">
   
                         <span class="material-icons white-text" style="padding:5px;">
edit
</span>
       
          {{form.littlewins3|materializecss}}
       
       </div>
       <div class="col m2">
         <div class="plus_holder"><i class="fa fa-plus plus" aria-hidden="true"></i></div>
     
     </div>
    
    </div>


   
   <h2 class="hs__headline">Floor Plan</h2>
    <div class="row blue_box" >
     <a href="{% url 'draw' pk=session.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Draw a floorplan</a>
<section>
		<div class="decoration col s12"></div>
   

  {{form.floorPlan|materializecss}}
	
		 {% comment %} <div class="input-field col s4 center-align"><span class="material-icons center-align white-text">camera_enhance</span> </div>
		  <div class="input-field col s4 center-align"><span class="material-icons center-align white-text">add_circle</span> </div>
		   <div class="input-field col s4 center-align"><span class="material-icons center-align white-text">create</span> </div>
			 {% endcomment %}


     
	</section>
  	<img src="{{MEDIA_URL}}{{ session.floorPlan}}"  alt="floor plan" class="floorplan" >
</div>
 
<h2 class="hs__headline">Add A File</h2>
    <div class="row blue_box" >


   
     
        

      
      <div class="file-path-wrapper" style='min-height:220px;'>
       {{form.files|materializecss}} 

      


      </div>
    

  </div>
    
   
    </div>
          {% csrf_token %}
          <p class="white-text warning_msg"> Click the + to save your session</p>
           <button type="submit" class= 'subplus' name="save_log"><span class="blutext">+<span></button>
           </form>
    <h2 class="hs__headline">Homework</h2>
    <div class="row">
  
     <div class="row">

    <div class="col s12 m6 obj_display">
    <h5> Enter Homework </h5>
           <form method="POST" >
              {{obj.objective|materializecss}} {% csrf_token %}
     <button type="submit" class= 'subplus' name="save_obj"><span class="blutext">+<span></button>
     </form>
    </div>

     <div class="col s12 m6">
     <h5>My Homework</h5>
     <ol>
       {% for obj in listObj %}
        <li class="white-text"> <a href="{% url 'checkOb' pk=obj.pk %}">{{obj.objective}}</a>
 
        {% if obj.Completed == True %}
           <i class="fa fa-check green-text" aria-hidden="true"></i>
        {% endif %}
           
           </li>
         {% endfor %}
      </ol>   

     

          
       </ol>
     
     </div>
    
    </div>

      </div><!--end of col-->
</div><!--end of row-->
{% endblock %}{% block scripts %}

    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('select').formSelect();
     $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
  });
</script>
  

{% endblock %}
