{% extends 'base.html' %}
{% load static%} {% load materializecss %}{% block page_title %}Select{% endblock %} {% block head %}

<link rel="stylesheet" href="{% static 'css/slider.css' %}" /> 
<link rel="stylesheet" href="{% static 'css/page.css' %}" /> 
{% endblock %} {% block content %}

<style>
nav {
    color: #101010!important;

}
</style>
<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
         
        <a href="#!" class="breadcrumb">Select Training</a>
       
      </div>
    </div>
  </nav>

<h4>Select A Disipline</h4>

<ul class="image_select">
    {% for img in customImg %}
    <li class="col  m4">
        <img class="select_image" src="{{MEDIA_URL}}{{ img.image}}" alt="{{img.showName}}" />
        <br />
        <a class="image_select_link" href="{{img.pk}}">{{img.disipline}}</a>
    </li>

    {% endfor %} 
    </ul>
    
    {% endblock %} 




