{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %}{% load ratings %}

     
{% block head %}
  
            <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/cedit.css' %}"> 
            <link rel="stylesheet" href={% static 'css/fontawesome-stars.css' %}>
 
  

{% endblock %}

   {% block content %} 


  <nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
        <a href="#!" class="breadcrumb">Competition Entry</a>
       
      </div>
    </div>
  </nav>


<h4>{{session.disipline.disipline}}</h4>


<div class="nativeCal" style="display:{{display}};">

<a href="{% url 'EventFeed2' %}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add To Calendar</a>

</div>


   
      <div class="">

     <img class="selected-image" src="{{MEDIA_URL}}{{ session.disipline.image}}" alt="{{customimg.disipline}}" />
      
      </div>

   <div class="row" style="border:1px solid #b3b3b3"></div>

       <h2 class="hs__headline">Competition Details</h2>
    <div class="row blue_box" >
          <form method="POST" enctype="multipart/form-data" class="col s12">
              <span class="material-icons white-text" style="padding:5px;">
edit
</span>
      <div class="row">
      <form method-"POST" enctype="multipart/form-data">
        <div class="input-field col s12 m6">
     
       {{form.location|materializecss}} 
        
        </div>
        <div class="input-field date col s12 m6">
      
     {{form.date|materializecss}}
          
        </div>
      </div>

                <div class="input-field   col s12">
                
                {{form.videoLink|materializecss}}  
                </div>
                        <div class="input-field col s12">
        <span class="material-icons yellow-text">
        emoji_objects
        </span>
                  {{form.lightbulb|materializecss}} 
                </div>
                <div class="input-field col s12">
        {{form.notes|materializecss}} 
                </div>
                <div class="input-field col s12">
        {{form.image|materializecss}} 
                </div>
                  
                  
                  
   
<div class="rating">
  <div class="white-text">Rider Rating</div>
   <select id="id_myStars" name="myStars">
     
   {% if session.myStars == '1' %}<option  value="1" selected>1</option>{% else %}<option  value="1">1</option>{% endif %}
 {% if  session.myStars == '2' %}<option  value="2" selected>2</option>{% else %}<option  value="2">2</option>{% endif %}
  {% if  session.myStars == '3' %}<option  value="3" selected>3</option>{% else %}<option  value="3">3</option>{% endif %}
   {% if  session.myStars == '4' %}<option  value="4" selected>4</option>{% else %}<option  value="4">4</option>{% endif %}
   {% if session.myStars == '5' %}<option  value="5" selected>5</option>{% else %}<option  value="5">5</option>{% endif %}
</select>

    </div>   
         


      {% csrf_token %}
  
           <button type="submit" id="sbutton" class= 'subplus tooltipped ' name="save_log"  data-position="bottom" data-tooltip="Click to Save"><span class="blutext">+<span></button>
        
           </form>
  

    </div>
   <h2>Venue Ratings</h2>
    <div class="row blue_box">
    <h5> Rate the Venue</h5>
     <form method="POST">
     <div class="white-text">Value</div>
   
     <select id="id_value" name="value">
     
    <div class="white-text">Venue Rating</div>
     
   {% if venue_instance.value == '1' %}<option  value="1" selected>3</option>{% else %}<option  value="1">1</option>{% endif %}
 {% if venue_instance.value == '2' %}<option  value="2" selected>3</option>{% else %}<option  value="2">2</option>{% endif %}
  {% if venue_instance.value == '3' %}<option  value="3" selected>3</option>{% else %}<option  value="3">3</option>{% endif %}
   {% if venue_instance.value == '4' %}<option  value="4" selected>4</option>{% else %}<option  value="4">4</option>{% endif %}
   {% if venue_instance.value == '5' %}<option  value="5" selected>3</option>{% else %}<option  value="5">5</option>{% endif %}


</select>



<br>
 <div class="white-text">Refreshments</div>
<select id="id_refreshments" name="refreshments" value="4">
  {% if venue_instance.refreshments == '1' %}<option  value="1" selected>3</option>{% else %}<option  value="1">1</option>{% endif %}
 {% if venue_instance.refreshments == '2' %}<option  value="2" selected>3</option>{% else %}<option  value="2">2</option>{% endif %}
  {% if venue_instance.refreshments == '3' %}<option  value="3" selected>3</option>{% else %}<option  value="3">3</option>{% endif %}
   {% if venue_instance.refreshments == '4' %}<option  value="4" selected>4</option>{% else %}<option  value="4">4</option>{% endif %}
   {% if venue_instance.refreshments == '5' %}<option  value="5" selected>3</option>{% else %}<option  value="5">5</option>{% endif %}
</select>
<br>
 <div class="white-text">Prizes</div>
<select id="id_prizes" value="4" name="prizes">
    {% if venue_instance.prizes == '1' %}<option  value="1" selected>3</option>{% else %}<option  value="1">1</option>{% endif %}
 {% if venue_instance.prizes == '2' %}<option  value="2" selected>3</option>{% else %}<option  value="2">2</option>{% endif %}
  {% if venue_instance.prizes == '3' %}<option  value="3" selected>3</option>{% else %}<option  value="3">3</option>{% endif %}
   {% if venue_instance.prizes == '4' %}<option  value="4" selected>4</option>{% else %}<option  value="4">4</option>{% endif %}
   {% if venue_instance.prizes == '5' %}<option  value="5" selected>3</option>{% else %}<option  value="5">5</option>{% endif %}
</select>
<br>
 <div class="white-text">Atmosphere</div>
<select id="id_atmosphere" value="4" name="atmosphere">
 {% if venue_instance.atmosphere == '1' %}<option  value="1" selected>3</option>{% else %}<option  value="1">1</option>{% endif %}
 {% if venue_instance.atmosphere == '2' %}<option  value="2" selected>3</option>{% else %}<option  value="2">2</option>{% endif %}
  {% if venue_instance.atmosphere  == '3' %}<option  value="3" selected>3</option>{% else %}<option  value="3">3</option>{% endif %}
   {% if venue_instance.atmosphere  == '4' %}<option  value="4" selected>4</option>{% else %}<option  value="4">4</option>{% endif %}
   {% if venue_instance.atmosphere == '5' %}<option  value="5" selected>3</option>{% else %}<option  value="5">5</option>{% endif %}
</select>
   
{% csrf_token %}
      <button type="submit" class= 'subplus tooltipped' name="save_venue"  data-position="bottom" data-tooltip="Click to Save"><span class="blutext">+<span></button>
    </form>
 

  
</div>



   <h2 class="hs__headline">Entry List</h2>
    <div class="row blue_box" >
    <form method="POST">
    <div></div>
    {{entry|materializecss}}
      {% csrf_token %}
      <button type="submit" class= 'subplus tooltipped'  data-position="bottom" data-tooltip="Click to Add" name="save_entry"><span class="blutext">+<span></button>
    </form>
   
  <table class=" white-text " id="entries">
              <thead>
                <tr class="grey-text">
                    <th>Horse</th>
                    <th>Class</th>
                    <th>Time</th>
                    <th>Performance</th>
                    <th>Edit</th>
                </tr>
              </thead>
              <tbody>
              {% for entry in entries%}
                <tr>
                  <td>{{entry.horse}}</td>
                  <td>{{entry.horseClass}}</td>
                  <td>{{entry.class_time}}</td>
                  <td>{{entry.performance}}</td>
                  <td><a href="{% url 'editentry' entry.pk %}">EDIT</a></td>
                </tr>
         {% endfor %}
              </tbody>
            </table>
</div>
   
   


      </div><!--end of col-->
</div><!--end of row-->
   
    <script>
	  $(document).ready(function(){
    $('select').formSelect();
    $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
   
    // $('#id_class_time').timepicker() 
  

  });

</script>
  
{% comment %} <script>
var logID = 'log',
  log = $('<div id="'+logID+'"></div>');
$('body').append(log);
  $('[type*="radio"]').change(function () {
    var me = $(this);
    log.html(me.attr('value'));
  });
</script> {% endcomment %}

<script src={% static 'js/jquery.barrating.js' %}></script>
<script type="text/javascript">
   $(function() {
      $('#id_value').barrating({
        theme: 'fontawesome-stars'
      });

         $('#id_refreshments').barrating({
        theme: 'fontawesome-stars'
      });

            $('#id_prizes').barrating({
        theme: 'fontawesome-stars'
      });
            $('#id_atmosphere').barrating({
        theme: 'fontawesome-stars'
      });

       $('#id_myStars').barrating({
        theme: 'fontawesome-stars'
      });
   });
</script>


{% endblock %}
