{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %}
     

     {% block content %} 
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
<style>
.selected-image{
  height:183px;
  width:275px;
}

textarea{
  padding:0!important; 
  margin-top:40px;
}

.warning_msg{
  font-size:20px;
}
{% comment %} body{
  background-color: #101010;
*/background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);/*
}
.sidenav {
 height:100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
 .navul{
   margin-left:15%;
   font-size:20px;
 }
.navli{
  padding-bottom:5px;
  color:
}

li a{
  color:#b3b3b3;
}


 i{
   padding-right:15px;
 }

 .logo{
   padding-top:10px;
   margin-left:5px;
 }

 h2{
    font-size: 24px;
    color: #ffffff
 }



.appoint{
  color:white;
  padding-left:5px;
     font-size:14px;
}

.appoint li{
  margin-left:10px;
}


h4{
   color:#b3b3b3;
  font-size:16px;
  
}

.listhl{
 color:#21a3e2
}

.his{
  margin-left:10%;
  font-size:14px;
  color:white;
}

.his li{
    margin-left:10px;
}

.plus{
  font-size:119px;
  color: #21a3e2;

}

.appointments{
  margin-bottom:100px;
}

.collection .collection-item{
  background-color:#101010!important;
}

.social{
  font-size:24px;
  color:white;
  padding:5px;
}

.social:hover {
  background-color:#21a3e2;
}



.socialwapper{
  text-align:center;
 padding-left:5px;
}

.card-action {
  color:#b3b3b3;
}

.plus_holder{
  float:right;}
   @media only screen and (max-width: 768px) {
 .logo {
    width: 130px;
  }

  .navul{
    font-size:14px;
    margin-left:15%%;
    width:140px;
    
  }

   i{
   padding-right:10px;
 }

 .app_sec{
   height:250px;
 }

 .ppimage{
   height:200px;
   width:200px;
 }
 .plus_holder{
   margin-top:15%;
   margin-left:10%;
 }
}

ol{
  list-style: none;
  font-size:24px;
}

ol li {
  counter-increment: my-awesome-counter;
}

ol li::before {
  content: counter(my-awesome-counter) ". ";
  color:#b3b3b3;
}

.input-field {
  color:#b3b3b3;
}

.btn{
  background-color:#b3b3b3;
} {% endcomment %}


.floorplan{
  padding:10px;

  
}

@media screen and (max-width: 600px) {
  
.floorplan{
  width:70%;
  height:70%;
 margin-top:30px;
  
}

.btn{
  width:100px;
  font-size:9px!important;
  margin-bottom:40px;
}
}

</style>

<h4 style="font:24px;color:white;">{{session.disipline.disipline}}</h4>


<div class="nativeCal" style="display:{{display}};">

<a href="{% url 'EventFeed2' %}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add To Calendar</a>

</div>


   
      <div class="">

     <img class="selected-image" src="{{MEDIA_URL}}{{ session.disipline.image}}" alt="{{customimg.disipline}}" />
      
      </div>

   <div class="row" style="border:1px solid #b3b3b3"></div>

       <h2 class="hs__headline">Competition Details</h2>
    <div class="row" style="border:1px solid #21a3e2">
          <form method="POST" enctype="multipart/form-data" class="col s12">
              <span class="material-icons white-text" style="padding:5px;">
edit
</span>
      <div class="row">
      <form method-"POST" enctype="multipart/form-data">
        <div class="input-field col s6">
     
       {{form.location|materializecss}} 
        
        </div>
        <div class="input-field col s6">
      
     {{form.date|materializecss}}
          
        </div>
      </div>
          <div class="row">
        <div class="input-field col s6">
         {{form.myStars|materializecss}}
        </div>
        <div class="input-field col s6">
         
         {{form.videoLink|materializecss}}  
        </div>
                <div class="input-field col s12">
<span class="material-icons yellow-text">
emoji_objects
</span>
          {{form.lightbulb|materializecss}} 
        </div>
        <div class="input-field col s12">
{{form.notes|materializecss}} 
        </div>
         <div class="input-field col s12">
{{form.image|materializecss}} 
        </div>
      </div>
 
      {% csrf_token %}
          <p class="white-text warning_msg"> Click the + to save your session</p>
           <button type="submit" class= 'subplus' name="save_log"><span class="blutext">+<span></button>
           </form>
    </div>

   <h2 class="hs__headline">Venue Ratings</h2>
    <div class="row" style="border:1px solid #21a3e2">
    <form method="POST">

    {{venue|materializecss}}
      {% csrf_token %}
      <button type="submit" class= 'subplus' name="save_venue"><span class="blutext">+<span></button>
    </form>
   
  
</div>



   <h2 class="hs__headline">Entry List</h2>
    <div class="row" style="border:1px solid #21a3e2">
    <form method="POST">

    {{entry|materializecss}}
      {% csrf_token %}
      <button type="submit" class= 'subplus' name="save_entry"><span class="blutext">+<span></button>
    </form>
   
  <table class="responsive-table highlight white-text ">
              <thead>
                <tr>
                    <th>Horse</th>
                    <th>Class</th>
                    <th>Time</th>
                    <th>Performance</th>
                    <th>Edit</th>
                </tr>
              </thead>
              <tbody>
              {% for entry in entries%}
                <tr>
                  <td>{{entry.horse}}</td>
                  <td>{{entry.horseClass}}</td>
                  <td>{{entry.class_time}}</td>
                  <td>{{entry.performance}}</td>
                  <td><a href="{% url 'editentry' entry.pk %}">EDIT</a></td>
                </tr>
         {% endfor %}
              </tbody>
            </table>
</div>
   
   


      </div><!--end of col-->
</div><!--end of row-->
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
    $('select').formSelect();
    $('select').select();
  });
</script>
  

{% endblock %}
