{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %}{% load ratings %}

     
{% block head %}
  
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"> 
            <link rel="stylesheet" href="{% static 'css/cedit.css' %}"> 
  

{% endblock %}

   {% block content %} 






<h4 style="font:24px;color:white;">{{session.disipline.disipline}}</h4>


<div class="nativeCal" style="display:{{display}};">

<a href="{% url 'EventFeed2' %}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add To Calendar</a>

</div>


   
      <div class="">

     <img class="selected-image" src="{{MEDIA_URL}}{{ session.disipline.image}}" alt="{{customimg.disipline}}" />
      
      </div>

   <div class="row" style="border:1px solid #b3b3b3"></div>

       <h2 class="hs__headline">Competition Details</h2>
    <div class="row blue_box" >
          <form method="POST" enctype="multipart/form-data" class="col s12">
              <span class="material-icons white-text" style="padding:5px;">
edit
</span>
      <div class="row">
      <form method-"POST" enctype="multipart/form-data">
        <div class="input-field col s12 m6">
     
       {{form.location|materializecss}} 
        
        </div>
        <div class="input-field date col s12 m6">
      
     {{form.date|materializecss}}
          
        </div>
      </div>

        <div class="input-field   col s12">
         
         {{form.videoLink|materializecss}}  
        </div>
                <div class="input-field col s12">
<span class="material-icons yellow-text">
emoji_objects
</span>
          {{form.lightbulb|materializecss}} 
        </div>
        <div class="input-field col s12">
{{form.notes|materializecss}} 
        </div>
         <div class="input-field col s12">
{{form.image|materializecss}} 
        </div>
                  <div class="row">
        <div class="input-field col s12">
<div class="rating">
<div class="white-text"> Rider Performance</div>
  <input type="radio" id="star5" name="myStars" value="5" {% if x == '5' %} checked{% endif %}/>
  <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
  <input type="radio" id="star4" name="myStars" value="4" {% if x == '4' %} checked{% endif %}/>
  <label class="star" for="star4" title="Great" aria-hidden="true"></label>

  <input type="radio" id="star3" name="myStars"   value="3" {% if x == '3' %} checked{% endif %} />
  <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
  <input type="radio" id="star2" name="myStars"  value="2" {% if x == '2' %} checked{% endif %} />
  <label class="star" for="star2" title="Good" aria-hidden="true"></label>
  <input type="radio" id="star1" name="myStars" value="1" {% if x == '1' %} checked{% endif %} />
  <label class="star" for="star1" title="Bad" aria-hidden="true" ></label>
</div>



        
        </div>
      </div>
 
      {% csrf_token %}
          <p class="white-text warning_msg"> Click the + to save your session</p>
           <button type="submit" class= 'subplus' name="save_log"><span class="blutext">+<span></button>
           </form>
    </div>

   <h2>Venue Ratings</h2>
    <div class="row blue_box">

     <form method="POST">
    <p class="range-field">
    <h5>Value</h5>
      <input type="range" id="test5" min="0" max="5" name='value' value="{{v}}" />
    </p>
    <p class="range-field">
    <h5>Refreshments</h5>
      <input type="range" id="test5" min="0" max="5" name='refreshments' value="{{r}}" />
    </p>
    <p class="range-field">
    <h5>Prizes</h5>
      <input type="range" id="test5" min="0" max="5" name='prizes' value="{{p}}" />
    </p>
    <p class="range-field">
    <h5>Atmosphere</h5>
      <input type="range" id="test5" min="0" max="5" name='atmosphere' value="{{a}}" />
    </p>
{% csrf_token %}
      <button type="submit" class= 'subplus' name="save_venue"><span class="blutext">+<span></button>
    </form>
  </form>
    {% comment %} <form method="POST" enctype="multipart/form-data">
<div class="row">
 <div class="col s2">
    <div class="white-text">Value:</div>
    
   </div>

   <div class="col s10 input-field ">
   
 
<div class="rating2">
  <input type="radio" id="value5" name="value" value="5" {% if v == '5' %} checked{% endif %} />
  <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
  <input type="radio" id="value4" name="value" value="4" {% if v == '4' %} checked{% endif %}/>
  <label class="star" for="star4" title="Great" aria-hidden="true"></label>

  <input type="radio" id="value3" name="value"   value="3"   {% if v == '3' %} checked{% endif %}/>
  <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
  <input type="radio" id="value2" name="value"  value="2"  {% if v == '2' %} checked{% endif %} />
  <label class="star" for="star2" title="Good" aria-hidden="true"></label>
  <input type="radio" id="value1" name="value" value="1"  {% if v == '1' %} checked{% endif %} />
  <label class="star" for="star1" title="Bad" aria-hidden="true" ></label>
</div>
</div>
</div>
 
 <div class="row">
 <div class="col s2">
    <div class="white-text">Refreshments:</div>
   </div>

   <div class="col s10">
 
 <div class="rating">
  <input type="radio" id="star5" name="refreshments" value="5" {% if r == '5' %} checked{% endif %} />
  <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
  <input type="radio" id="star4" name="refreshments" value="4" {% if r == '4' %} checked{% endif %}/>
  <label class="star" for="star4" title="Great" aria-hidden="true"></label>

  <input type="radio" id="star3" name="refreshments"   value="3"   {% if r == '3' %} checked{% endif %}/>
  <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
  <input type="radio" id="star2" name="refreshments"  value="2"{% if r == '2' %} checked{% endif %} />
  <label class="star" for="star2" title="Good" aria-hidden="true"></label>
  <input type="radio" id="star1" name="refreshments" value="1" {% if r == '1' %} checked{% endif %}/>
  <label class="star" for="star1" title="Bad" aria-hidden="true" ></label>
</div>
</div>
</div>
 <div class="row">
 <div class="col s2">
    <div class="white-text">Prizes:</div>
   </div>

   <div class="col s10">

   <div class="rating">
  <input type="radio" id="star5" name="prizes" value="5" {% if p == '5' %} checked{% endif %} />
  <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
  <input type="radio" id="star4" name="prizes" value="4" {% if p == '4' %} checked{% endif %}/>
  <label class="star" for="star4" title="Great" aria-hidden="true"></label>

  <input type="radio" id="star3" name="prizes"   value="3"   {% if p == '3' %} checked{% endif %}/>
  <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
  <input type="radio" id="star2" name="prizes"  value="2"{% if p == '2' %} checked{% endif %} />
  <label class="star" for="star2" title="Good" aria-hidden="true"></label>
  <input type="radio" id="star1" name="prizes" value="1" {% if p == '1' %} checked{% endif %}/>
  <label class="star" for="star1" title="Bad" aria-hidden="true" ></label>
</div>
</div>
</div>
 <div class="row">
 <div class="col s2">
    <div class="white-text">Atmosphere:</div>
   </div>

   <div class="col s10">
   <div class="rating">
  <input type="radio" id="star5" name="atmosphere" value="5" {% if a == '5' %} checked{% endif %} />
  <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
  <input type="radio" id="star4" name="atmosphere" value="4" {% if a == '4' %} checked{% endif %}/>
  <label class="star" for="star4" title="Great" aria-hidden="true"></label>

  <input type="radio" id="star3" name="atmosphere"   value="3"   {% if a == '3' %} checked{% endif %}/>
  <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
  <input type="radio" id="star2" name="atmosphere"  value="2"{% if a == '2' %} checked{% endif %} />
  <label class="star" for="star2" title="Good" aria-hidden="true"></label>
  <input type="radio" id="star1" name="atmosphere" value="1" {% if a == '1' %} checked{% endif %}/>
  <label class="star" for="star1" title="Bad" aria-hidden="true" ></label>
</div>
  </div>
  </div>
      {% csrf_token %}
      <button type="submit" class= 'subplus' name="save_venue"><span class="blutext">+<span></button>
    </form>
    {% endcomment %}
  
</div>



   <h2 class="hs__headline">Entry List</h2>
    <div class="row blue_box" >
    <form method="POST">
    <div></div>
    {{entry|materializecss}}
      {% csrf_token %}
      <button type="submit" class= 'subplus' name="save_entry"><span class="blutext">+<span></button>
    </form>
   
  <table class="responsive-table highlight striped white-text ">
              <thead>
                <tr class="fill_table">
                    <th>Horse</th>
                    <th>Class</th>
                    <th>Time</th>
                    <th>Performance</th>
                    <th>Edit</th>
                </tr>
              </thead>
              <tbody>
              {% for entry in entries%}
                <tr>
                  <td>{{entry.horse}}</td>
                  <td>{{entry.horseClass}}</td>
                  <td>{{entry.class_time}}</td>
                  <td>{{entry.performance}}</td>
                  <td><a href="{% url 'editentry' entry.pk %}">EDIT</a></td>
                </tr>
         {% endfor %}
              </tbody>
            </table>
</div>
   
   


      </div><!--end of col-->
</div><!--end of row-->
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
    $('select').formSelect();
    $('select').select();
  });

</script>
  
<script>
var logID = 'log',
  log = $('<div id="'+logID+'"></div>');
$('body').append(log);
  $('[type*="radio"]').change(function () {
    var me = $(this);
    log.html(me.attr('value'));
  });
</script>


{% endblock %}
