{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %}
     
{% block head%}
  
       <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
{% endblock %}

  {% block content %} 
  <style>.date label{margin-top: -30px!important;}.obj-form input{color:black!important;} form{color:white!important;}
    .card-action a{
      color:#0288d1!important;
     background-color:white;
    }
 .card_text{
   font-weight: 700;
   text-transform:uppercase;
   color:black
 }
  label{
    margin-top:-20px;
  }
   .card-panel,.card{
       border-radius:10px;
     }

     .tabs li a{
       color:#0288d1!important;
     }
     .indicator{
         background-color:white!important;
         margin-top:5px;
     }

     nav{
         background-color:black!important;
     }

     .caret{
         color:white!important;
     }
     .material-icons{
         {% comment %} font-size:40px; {% endcomment %}
         color:white;
         padding-top:10px;
     }
     .session_title{
         font-size:40px;
         color:white;
         text-align:center;
         font-weight:600;
  
     }

     button{
         border-radius:10px;
         background-colour:#21a3e2!important;
         float:right;
     }

     .i_color{
         color:#21a3e2!important;
        
     }


     ::-webkit-calendar-picker-indicator {
       filter: invert(1);
   }

   label{
       text-size:1 rem!important;
       font-family: 'Roboto', 'Helvetica', sans-serif;
   }
  

.file-field .btn{
       display:none;
   }
   .file-path-wrapper{
       display:none;
   }

   button{
       border-radius:10px;
   }

  
.fa-trophy{
 color: white;
 font-size: 20px;
   }
  select{
   background-color: #212121!important;
  }
</style>
  <nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
          <a href="{% url "comp_edit" comp %}" class="breadcrumb"> Competition Entry</a>
        <a href="#!" class="breadcrumb">Entered Horse</a>
       
      </div>
    </div>
  </nav>
<h4>Edit Entry</h4>
<div class="card-panel grey darken-4">
<div class="row" style="blue-box; padding:10px;">
  

<form method="POST">
  <button type="submit" data-position="bottom" data-tooltip="Click to Save" name="save_log"><span class="material-icons">
    save
    </span></button>
   {{form|materializecss}}

       {% csrf_token %}
      {% comment %} <button type="submit" class= 'subplus' name="save_entry"><span class="blutext">+<span></button> {% endcomment %}
    </form>
            
</div>     
</div>

{% comment %}    
    <div class="row" style="border:1px solid #b3b3b3"></div>

       <h2 class="hs__headline">Session Details</h2>
    <div class="row" style="border:1px solid #21a3e2">
          <form class="col s12">
              <span class="material-icons white-text" style="padding:5px;">
edit
</span>
      <div class="row">
        <div class="input-field col s6">
      
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Instructor</label>
        </div>
        <div class="input-field col s6">
      
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Horse</label>
        </div>
      </div>
          <div class="row">
        <div class="input-field col s6">
          
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Date</label>
        </div>
        <div class="input-field col s6">
         
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Location</label>
        </div>
                <div class="input-field col s12">
<span class="material-icons yellow-text">
emoji_objects
</span>
          <textarea id="icon_prefix2" class="materialize-textarea" placeholder="Lightbulb Moment" style="padding:0!important; margin-top:40px;"></textarea>
        </div>
      </div>
    </form>
    
    </div>

     <h2 class="hs__headline">Session Objectives</h2>
    <div class="row" style="border:1px solid #21a3e2">
  
       
       <div class="col m10">
                     <span class="material-icons white-text" style="padding:5px;">
edit
</span>
          <textarea id="icon_prefix2" class="materialize-textarea" placeholder="Enter a objective and Click +" style="padding:0!important; margin-top:40px;"></textarea>
       
       </div>
       <div class="col m2">
         <div class="plus_holder"><i class="fa fa-plus plus" aria-hidden="true"></i></div>
       
       </div>
     <div class="col m10">
   
    
      <ol>
       <li class="white-text">Here is an objective entered by the user   <span class="switch">
            <label>
              
              <input type="checkbox">
              <span class="lever"></span>
              Achieved
            </label>
      </span></li>

           <li class="white-text">Here is an objective entered by the user
           <span class="switch">
            <label>
              
              <input type="checkbox">
              <span class="lever"></span>
              Achieved
            </label>
      </span>
           
           </li>
       </ol>
     
     </div>
    
    </div>

   

     <h2 class="hs__headline">Little Wins</h2>
    <div class="row" style="border:1px solid #21a3e2">
  
       
       <div class="col m10">
                     <span class="material-icons white-text" style="padding:5px;">
edit
</span>
       
          <textarea id="icon_prefix2" class="materialize-textarea" placeholder="Enter a little win and Click +" style="padding:0!important; margin-top:40px;"></textarea>
       
       </div>
       <div class="col m2">
         <div class="plus_holder"><i class="fa fa-plus plus" aria-hidden="true"></i></div>
       
       </div>
     <div class="col m10">
   
    
      <ol>
       <li class="white-text">Win 1</li>
           <li class="white-text">Win 2</li>
       </ol>
     
     </div>
    
    </div>


     <h2 class="hs__headline">Homework</h2>
    <div class="row" style="border:1px solid #21a3e2">
  
       
       <div class="col m10">
                     <span class="material-icons white-text" style="padding:5px;">
edit
</span>
       
          <textarea id="icon_prefix2" class="materialize-textarea" placeholder="Enter an Objective and Click +" style="padding:0!important; margin-top:40px;"></textarea>
       
       </div>
       <div class="col m2">
         <div class="plus_holder"><i class="fa fa-plus plus" aria-hidden="true"></i></div>
       
       </div>
     <div class="col m10">
   
    
      <ol>
       <li class="white-text">work on 1</li>
           <li class="white-text">work on 2</li>
       </ol>
     
     </div>
    
    </div>

   <h2 class="hs__headline">Floor Plan</h2>
    <div class="row" style="border:1px solid #21a3e2">
<section>
		<div class="decoration"></div>

	<div class="row">
	
		 <div class="input-field col s4 center-align"><span class="material-icons center-align">camera_enhance</span> </div>
		  <div class="input-field col s4 center-align"><span class="material-icons center-align">add_circle</span> </div>
		   <div class="input-field col s4 center-align"><span class="material-icons center-align">create</span> </div>
			
		
	</div>	
     
	</section>
  	<img src="images/floor_plan.jpg" alt="floor plan"/ style="padding:10px;">
</div>

<h2 class="hs__headline">Notes and Files</h2>
    <div class="row" style="border:1px solid #21a3e2">

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
         <span class="material-icons white-text" style="padding:5px;">
edit
</span>
          <textarea id="icon_prefix2" class="materialize-textarea" placeholder="Enter Notes" style="padding:0!important; margin-top:40px;"></textarea>
        </div>

        <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
      </div>
    </form> {% endcomment %}
  </div>
    
    
    </div>

      </div><!--end of col-->
</div><!--end of row-->
{% endblock %}{% block scripts %}
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
      $('select').material_select();
  });
</script>
  

{% endblock %}
