{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %}
     
{% block head%}
  <!--page style sheets-->
       <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/compedit.css' %}"> 
{% endblock %}

  {% block content %} 
  
  <nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
          <a href="{% url "comp_edit" comp %}" class="breadcrumb"> Competition Entry</a>
        <a href="#!" class="breadcrumb">Entered Horse</a>
       
      </div>
    </div>
  </nav>
<h4>Edit Entry</h4>
<div class="card-panel grey darken-4">
<div class="row" style="blue-box; padding:10px;">
  

<form method="POST">
  <button type="submit" data-position="bottom" data-tooltip="Click to Save" name="save_log"><span class="material-icons">
    save
    </span></button>
   {{form|materializecss}}

       {% csrf_token %}
    
    </form>
            
</div>     
</div>


  </div>
    
    
    </div>

      </div><!--end of col-->
</div><!--end of row-->
{% endblock %}{% block scripts %}
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
      $('select').material_select();
  });
</script>
  

{% endblock %}
