{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %}
     
{% block head %}
          <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
{% endblock %}
     {% block content %} 


<style>

.step-links a{
  color:white;
}

.current{
  color:white;
}

.disipline_title {
  color:#b3b3b3;
  font-size:24px;
}
.disipline_type{
  color:white;
}

@media all and (max-width: 450px) {
.disipline_title {
 font-size:14px;
}

.history_link{
  font-size:30px!important;
}

.disipline_type{
 font-size:12px;
}
}

.submit_button{
  background:none!important;
  border:none;
  padding:0;
}
.current{
  margin-left:5px;
}

</style>

<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
        
        <a href="#!" class="breadcrumb">History</a>
       
      </div>
    </div>
  </nav>

<h4  data-intro='All your training and comps are listed here for all horses'>History</h4>

  <!-- search -->
  <h5>Search</h5>
           <div class="row">
           <div class="col s10 m11">
            <form method='POST' style="padding-left:0;"  data-intro='Use search to find specifics'>
            
                <input type="text" placeholder="Keyword" name='keyword'>
          </div>
              <div class="col s2 m1">
               <button type="submit"  class="submit_button"><i class="fa fa-search white-text" aria-hidden="true"></i></button>
               </div>
          
           
             {% csrf_token %}
            
            
            </form>
        </div>

<div class="row" >

   <ul class="collection" style="border:none!important;" data-intro='Click a blue arrow to view'>
   {% for train in train_obj %}
    <li class="collection-item avatar " style="background-color:#101010!important"  >
      <img src="{{MEDIA_URL}}{{train.disipline.image}}" alt="train.disipline.disipline" class="circle">
      <span class="disipline_title ">{{train.disipline.disipline}} {{train.date}}</span>
      <p class="disipline_type">Training Session
      </p>
      <a href="{% url "training_edit" train.pk %}" class="secondary-content "><i class="fa fa-chevron-circle-right history_link" style="font-size:50px;color:#21a3e2;" aria-hidden="true"></i></a>
    </li>
       {% endfor %}

          {% for comp in page_obj%}
    <li class="collection-item avatar " style="background-color:#101010!important">
      <img src="{{MEDIA_URL}}{{comp.disipline.image}}" alt="{{comp.disipline.disipline}}" class="circle">
      <span  class="disipline_title ">{{comp.disipline.disipline}} {{comp.date}}</span>
      <p class="disipline_type">Competition
      </p>
      <a href="{% url "comp_edit" comp.pk %}" class="secondary-content "><i class="fa fa-chevron-circle-right history_link" style="font-size:50px;color:#21a3e2;" aria-hidden="true"></i></a>
    </li>
       {% endfor %}
  </ul>
 <!--pagination-->         
<div class="pagination"  data-intro='Use the nav to view pages'>
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %} 

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div><!--end of row-->
{% endblock %}{% block scripts %}
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
  

{% endblock %}
