{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Add Client{% endblock %}
     
{% block head %}
    
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/form.css' %}"> 

  {% endblock %}
 {% block content %} 
<style>

.box{
  height:100px!important;
  border: 1px solid grey;
  padding:5px;
  text-align:center;
  border-radius:5px;
  color:white;
  margin:5px;
 
}

</style>
<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
          <a href="{% url 'home' %}" class="breadcrumb">Home</a>
        <a href="{% url 'yard_menu' %}" class="breadcrumb">yard</a>
        
        <a href="{% url 'people' %}" class="breadcrumb">People</a>

           <a href="#" class="breadcrumb">Client</a>
       
      </div>
    </div>
  </nav>

<h4>Add Client Details </h4>



    <div class='row'>

          <div class="col s12 m6 push-m3">

       <form method="POST">
         {{form|materializecss}}
         
    {% csrf_token %}
               <button type="submit" class= 'subplus tooltipped'  data-position="bottom" data-tooltip="Click to Add" name="save_entry"><span class="blutext">+<span></button>

       </form>

    
      
  
 
      
      </div>


    
</div><!--end of row-->
{% if instance %}
  <button type="button" class="btn red darken-2" onclick="location.href='{% url 'delete_client' pk=instance.pk %}'">Delete 
    Client</button>
    {% endif %}
{% endblock %}{% block scripts %}
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
 

{% endblock %}
