{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Mindset{% endblock %}
     
{% block head %}
    
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/form.css' %}"> 

  {% endblock %}
 {% block content %} 
<style>

.box{
  height:100px!important;
  border: 1px solid grey;
  padding:5px;
  text-align:center;
  border-radius:5px;
  color:white;
  margin:5px;
 
}

</style>
<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
         
        <a href="#!" class="breadcrumb">Mindset</a>
       
      </div>
    </div>
  </nav>

<h4></h4>


    <div class='row'>
     <div class="col s12 m6"></div>
        <div class="col s12"><h5>Employees</h5></div>
        <div class="col s12"><a href="{% url 'staff' %}">Add Employee </a><i class="fa fa-plus" aria-hidden="true"></i></div>
        <div class="col s12 ">
          
          <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Contact Number</th>
                  
              </tr>
            </thead>

            <tbody>
            {% for emp in employee %}
              <tr>
                <td><a href="{% url 'edit_staff' pk=emp.pk %}"{{emp.name}}</td>
                <td><a href="tel:{{emp.mobile}}"{{emp.mobile}}</td>
                
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div><!-- end of col -->
 <div class="col s12 m6"></div>
        <div class="col s12"><h5>Clients</h5></div>
        <div class="col s12"><a href="{% url 'staff' %}">Add Client </a><i class="fa fa-plus" aria-hidden="true"></i></div>
        <div class="col s12 ">
          
          <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Contact Number</th>
                  
              </tr>
            </thead>

            <tbody>
            {% for cli in client %}
              <tr>
                <td><a href="{% url 'edit_client' pk=emp.pk %}"{{cli.name}}</td>
                <td><a href="tel:{{cli.mobile}}"{{cli.mobile}}</td>
                
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div><!-- end of col -->
        

    
</div><!--end of row-->
{% endblock %}{% block scripts %}
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
 

{% endblock %}
