{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}People{% endblock %}
     
{% block head %}
    
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/form.css' %}"> 

  {% endblock %}
 {% block content %} 
<style>



</style>
<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
        <a href="{% url 'yard_menu' %}" class="breadcrumb">yard</a>
        
        <a href="#!" class="breadcrumb">People</a>
       
      </div>
    </div>
  </nav>

<h4></h4>


    <div class='row'>
    <div class="col s12 m6" style="">
    <h5>Employees</h5>
    
    <a href="{% url 'staff' %}">Add Employee </a><i class="fa fa-plus" aria-hidden="true"></i>
     <p class="white-text">Name / Contact Number</p>
      {% for emp in employee %}
      <p class="white-text"> <a href="{% url 'edit_staff' pk=emp.pk %}" class="white-text">{{emp.name}} <a href="tel:{{emp.mobile}}" class="white-text">{{emp.mobile}}</a></p>
      {% endfor %}
    
    
    
    </div><!--endof  col-->
     <div class="col s12 m6" style="">
     <h5>Clients</h5>
     <a href="{% url 'clients' %}">Add Client </a><i class="fa fa-plus" aria-hidden="true"></i>
    <p class="white-text">Name / Contact Number</p>
      {% for cli in client %}
      <p class="white-text"> <a href="{% url 'edit_client' pk=cli.pk %}" class="white-text">{{cli.name}} <a href="tel:{{cli.mobile}}" class="white-text">{{cli.mobile}}</a></p>
      {% endfor %}
     </div><!--endof  col-->

</div><!--end of row-->
{% endblock %}{% block scripts %}
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
 

{% endblock %}
