{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Employee{% endblock %}
     
{% block head %}
    <!--page style sheets-->
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/yard.css' %}"> 

  {% endblock %}
 {% block content %} 
<style>



</style>
<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
          <a href="{% url 'home' %}" class="breadcrumb">Home</a>
        <a href="{% url 'yard_menu' %}" class="breadcrumb">yard</a>
        <link rel="stylesheet" href="{% static 'css/yard.css' %}"> 
        <a href="{% url 'people' %}" class="breadcrumb">People</a>

       
      </div>
    </div>
  </nav>




    <div class='row'>

          <div class="col s12 ">
            <div class="card-panel grey darken-4">

       <form method="POST">
        <div class="row">
          <div class="col s2"><span class="material-icons ">
              people
              </span></div>
          <div class="col s8 session_title"><h4>Employee Details</h4></div>
          <div class="col s2">
            <button type="submit" value="Upload"  data-position="bottom" data-tooltip="Click to Save" name="save_photo" class="save-button">  <span><i class="fas fa-save" style="padding-right:0!important;"></i><br>SAVE</span></button></div>
  
         {{form|materializecss}}
         
    {% csrf_token %}
            

       </form>

       {% if instance %}
       <button type="button" class="btn red darken-2" onclick="location.href='{% url 'delete_staff' pk=instance.pk %}'">Delete 
        Employee</button>
         
         {% endif %}
      </div>
      </div>


    
</div><!--end of row-->

{% endblock %}{% block scripts %}
    <script src="slider.js"></script>
    <script>
	  $(document).ready(function(){
    $('select').formSelect();
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: true // Close upon selecting a date,
      container: undefined, // ex. 'body' will append picker to body
    });
  
  });
</script>
 

{% endblock %}
