{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Yard{% endblock %}
     
{% block head %}
    <!--page style sheets-->
       <link rel="stylesheet" href="{% static 'css/slider.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
       <link rel="stylesheet" href="{% static 'css/yard.css' %}"> 

  {% endblock %}
 {% block content %} 

<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
         
        <a href="#!" class="breadcrumb">Yard</a>
       
      </div>
    </div>
  </nav>

<h4></h4>


    <div class='row'>


      <div class="card-panel grey darken-4">

      <ul class="collection with-header">
        <li class="collection-header"><h5> Select An Option</h5></li>
        <li class="collection-item"><div>People<a href="{% url 'people' %}" class="secondary-content"><i class="material-icons arrow">send</i></a></div></li>
        <li class="collection-item"><div>Insurance - COMING SOON<a href="" class="secondary-content"></a></div></li>
        <li class="collection-item"><div>Ordering - COMING SOON<a href="" class="secondary-content"></a></div></li>

      </ul>
      

      </div>
   

  

</div><!--end of row-->
{% endblock %}{% block scripts %}
    {% comment %} <script src="slider.js"></script> {% endcomment %}
    <script>
	  $(document).ready(function(){
  
    $('ul.tabs').tabs();
  });
</script>
 

{% endblock %}
