/* General styles */


/*avoid invisible text*/

body {
    background-color: #101010;
    /* background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
    overflow-x: hidden;
}

ul {
    margin-left: 15%;
}

li {
    padding-bottom: 5px;
}

li a {
    color: #b3b3b3;
    text-decoration: none!important;
}

i {
    padding-right: 15px;
}

h2 {
    font-size: 24px;
    color: #ffffff;
}

h4 {
    color: #ffffff;
    margin-left: 25px;
}

h5 {
    color: #0288d1;
}

input[type=text]:focus {
    background: white;
}

button {
    background-color: #21a3e2 !important;
}

input {
    color: white;
}

.blutext {
    color: #21a3e2;
}


/*Sidenav styling*/

.sidenav {
    height: 100%;
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

.main_col {
    margin-left: 30px !important;
    padding-top: 30px;
    background-color: #101010;
}

.navul {
    margin-left: 15%;
    font-size: 20px;
}

.navli {
    padding-bottom: 5px;
}


/* social icon styling*/

.social {
    font-size: 24px;
    color: white;
    padding: 5px;
}

.social:hover {
    background-color: #21a3e2;
}

.socialwapper {
    text-align: center;
    padding-left: 5px;
}


/* Ihorse logo padding*/

.logo {
    padding-top: 10px;
    margin-left: 5px;
    height: 108px;
    width: 205px;
    margin-right: 5px;
}

.logo_small {
    padding: 5px;
}


/*mobile navbar on foot of page*/

.small_navbar {
    background-color: #101010;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 0 !important;
}


/* navbar text*/

.small_nav {
    color: #b3b3b3 !important;
    font-size: 20px;
    font-family: roboto;
}


/* Style the links inside the navigation bar */

.small_navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 7px;
}


/* Change the color of links on hover */

.small_navbar a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */


/* breadcrumb styling*/

.breadcrumb {
    background-color: #101010;
    color: #b3b3b3
}

.nav-wrapper {
    background-color: #101010 !important;
}


/* Style the navigation menu */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
    display: none;
}


/* Style navigation menu links */

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}


/* Style the hamburger menu */

.topnav a.icon {
    background: #333333;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


/* Add a grey background color on mouse-over */

.topnav a:hover {
    color: #ddd;
    color: black;
}


/* Style the active link (or home/logo) */

.active {
    color: white;
}


/* hides notification button by default*/

.enable-notifications {
    display: none;
}


/* curves images on slider */

.hs__item__image {
    border-radius: 5px;
}


/* curves corners  on all blue boxes */

.blue_box {
    border: 1px solid #21a3e2 !important;
    padding: 10px !important;
    border-radius: 5px !important;
    padding-bottom: 20px;
}

.selected-image {
    border-radius: 5px;
    ;
}


/* home styling*/

.schedule {
    margin-left: 0 !important;
}

.schedule li {
    list-style-type: disc !important;
    font-size: 13px;
}


/* media rules*/

@media screen and (max-width: 769px) {
    .logo {
        width: 130px;
        height: 77px;
    }
    ul {
        font-size: 11px;
        margin-left:10%;
    }


    .main_col {
        padding-left: 30px !important;
    }
}

@media all and (max-width: 450px) {
    .main_col {
        margin-left: 0px !important;
        padding-top: 0px;
        padding-left: 5px !important;
        padding-bottom: 50px !important;
    }
    h4 {
        font-size: 18px !important;
    }
    h5 {
        font-size: 17px !important;
    }
    h2 {
        font-size: 18px !important;
    }
    ul {
        margin-left: 5px !important;
    }
    .schedule li {
        margin-left: 20px;
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    .main_col {
        margin-left: 60px !important;
    }
}

/* help buttom for context help*/
.help{
    display: block!important;
    margin: auto!important;
    margin-top: 10px!important;
}
