textarea {
    color: white;
}

.box {
    border: 1px solid #21a3e2;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
}

form {
    margin-left: 30px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: '+';
    display: inline-block;
    text-align: center;
    color: #21a3e2;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #010101;
    font-weight: 700;
    font-size: 150pt;
}

.custom-file-input::after {
    content: '+';
    display: inline-block;
    text-align: center;
    color: #21a3e2;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #010101;
    font-weight: 700;
    font-size: 150pt;
}

.custom-file-input:hover::before {}

.custom-file-input:active::before {}

.subplus {
    font-weight: 700;
    font-size: 150pt;
    border: none;
    background-color: inherit !important;
    cursor: pointer;
    display: inline-block;
}

.blutext {
    color: #21a3e2;
}

@media only screen and (max-width: 600px) {
    .col,
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    form {
        margin-left: 0 !important;
        margin-bottom: 50px;
    }
    .custom-file-input {
        font-size: 50pt;
    }
    .subplus {
        font-size: 50pt;
    }
}

@media only screen and (min-width: 600px) {
    h4 {
        margin-left: 25px;
    }
}