
    
    {% extends 'basePW.html' %}{% load materializecss %}{% block page_title %}Registration Page{% endblock %} {% block page_heading %}Registration{% endblock %}
     
       {% block title %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Account</a></li>
    
      
      </ol>
    </nav>{% endblock %}
     
     {% block content %}

     <p class="accaccount-p"> {{status}}</p>
     <pclass="accaccount-p"><a href="{% url 'login' %}">Login</a>

     {% endblock %}