
{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}User Profile Page{% endblock %} {% block page_heading %}Profile{% endblock %}
 {% block content %}


    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %} 
<nav>
    <div class="nav-wrapper">
      <div class="col s12 breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
         
        <a href="#!" class="breadcrumb">Profile</a>
       
      </div>
    </div>
  </nav>
 <h2>Profile</h2>



      <div class="row">
        <div class="col s12 col m6 ">

             <img src="{{MEDIA_URL}}{{ instance.profile_image}}" style="height:100px;width:100px;"/>
        </div>
        <div class="col s12 col m6">

  <form method='POST' enctype="multipart/form-data" >
                      {% csrf_token %} {{ profile|materializecss }}
                      <button type="submit" class="btn btn-success">ADD</button>

                      </form>
    
     </div>
  </div>
  <div class="row">

    <div class="col s12">
    <ul>
    <li> 
      <a href="{% url "password_reset_recover" %}" style="font-size:15px;padding-bottom:50px;">Reset password</a> 
    </li>
     <li>
     <div class="drawer-option">
          <button class="btn btn-success enable-notifications mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--accent">
            Enable Notifications
          </button>
        </div>
    </li>
    <li>      <a href="{% url "wizard" %}" style="font-size:15px;padding-bottom:50px;">Customize</a> 
   </li>
    </ul>
 </div>
</div>


   <script src="{% static 'js/app.js' %}"></script>
 {% endblock %}