<style>
p{
  color:white;
}
 input{
   padding:5px;
 }
</style>

{% extends 'base.html' %}{% load materializecss %}{% block page_title %}Registration Page{% endblock %} {% block page_heading %}Registration{% endblock %}
 
   {% block title %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Dashboard</a></li>

    <li class="breadcrumb-item active" aria-current="page">reg User 1/3</li>
  </ol>
</nav>{% endblock %}
 
 {% block content %}
<h1 class='search-title m-3 white-text'>Sign Up</h1>
  <div class="form-group col-sm-12 col-md-4 offset-md-4">
 <form method='POST' class="white-text" enctype="multipart/form-data">
  
        {% csrf_token %}
{{ registration_form|materializecss}}

{% comment %} {{ profile_form|materializecss}} {% endcomment %}

 
    <button type="submit" class="btn btn-success">Register</button>
    
    </form>

</div>
 {% endblock %}