{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{% block page_title %}{% endblock %}</title>

  <!-- core css -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
     
  <!--vendor style sheets-->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" /> {% endcomment %}

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- manifest-->
  {% comment %} <link rel="manifest" href="{% static 'manifest.json' %}"> {% endcomment %}
   
   <!-- apple web app settings-->
   <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1,user-scalable=no"><meta name="apple-mobile-web-app-capable" content="yes"/><meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png'%}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png'%}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png'%}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png'%}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png'%}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png'%}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png'%}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png'%}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icons/android-icon-192x192.png'%}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png'%}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png'%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png'%}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png'%}">
  <meta name="theme-color" content="#ffffff">
<!--push key-->
   
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}

{% block head %}{% endblock %}

</head>

<body>

<style>.smallnav:active{background-color: none;}</style>
 <div class="row bg">
<!-- nav for small only-->

 <!-- Top Navigation Menu -->
<div class="topnav hide-on-med-and-up">
   <img src="{% static 'images/logo/mobile_logo.png' %} "class="logo_small"/>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
               <a href="{% url 'home' %}"><i class="fa fa-home"></i><em>Home</em></a>
               <a href="{% url 'details'%}"><i class="fas fa-horse"></i><em>Horses</em></a>
               <a href="{% url 'yard_menu' %}"><i class="fas fa-broom"></i></i><em>Yard</em></a>
               <a href="{% url 'caltwo'%}"><i class="fa fa-calendar"></i></i><em>Calendar</em></a>
               <a href="{% url 'training_log' %}"><i class="fas fa-book-open"></i><em>Training</em></a>
               <a href="{% url 'history'%}"><i class="fas fa-chart-line"></i><em>Activity Log</em></a>
               <a href="{% url 'competition'%}"><i class="fas fa-award"></i><em>Competitions</em></a>
               <a href="{% url 'profile' %}"><i class="fa fa-cog"></i><em>Settings</em></a>
               <a href="{% url 'horse' %}"><i class="fas fa-plus"></i><em>Add Horses</em></a>
               <a href="{% url 'mindset_select' %}"><i class="fa fa-heart" aria-hidden="true"></i><em>Mindset</em></a>
               <a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i><em>Logout</em></a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="menu()">
    <i class="fa fa-bars"></i>
  </a>
</div>

      <div class="col s2 hide-on-small-only ">
        <div class="white-text ">
        <img src="{% static 'images/logo5.png' %} "class="logo"/>
          <ul id="" class="">
            <li> <a href="{% url 'home' %}"><i class="fa fa-home"></i><em>Home</em></a></li>
              <li> <a href="{% url 'details'%}"><i class="fas fa-horse"></i><em>Horses</em></a></li>
              <li> <a href="{% url 'yard_menu' %}"><i class="fas fa-broom"></i></i><em>Yard</em></a></li>
              <li> <a href="{% url 'caltwo'%}"><i class="fa fa-calendar"></i></i><em>Calendar</em></a></li>
              <li> <a href="{% url 'training_log' %}"><i class="fas fa-book-open"></i><em>Training</em></a></li>
              <li> <a href="{% url 'history'%}"><i class="fas fa-chart-line"></i><em>Activity Log</em></a></li>
              <li> <a href="{% url 'competition'%}"><i class="fas fa-award"></i><em>Competitions</em></a></li>
              <li> <a href="{% url 'profile' %}"><i class="fa fa-cog"></i><em>Settings</em></a></li>
              <li> <a href="{% url 'horse' %}"><i class="fas fa-plus"></i><em>Add Horses</em></a></li>
              <li class='navli'> <a href="{% url 'mindset_select' %}"><i class="fa fa-heart" aria-hidden="true"></i><em>Mindset</em></a></li>
              <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i><em>Logout</em></a></li>
          
          </ul>
          <div class="socialwapper center-align">
          <a href=""><i class="fa fa-facebook-square social" aria-hidden="true"></i></a>
          <i class="fa fa-twitter-square social" aria-hidden="true"></i>
          <i class="fa fa-instagram social" aria-hidden="true"></i>
          </div>
        </div><!--end of side nav-->
    </div><!--end of col-->
<!--main section-->
      <div class="col s12 m9 main_col" ><!--main body -->-->
         <div class="">

  
      {% block content %} {% endblock %} 
      <div class="small_navbar hide-on-med-and-up row">

<div class="col s3 align-center"><div class="center-align"><a href="{% url 'home' %}"><i class="fas fa-home  center-align small_nav" style="padding:0;"></i><br><span class="white-text">Home</span></a></div></div>
<div class="col s3 align-center"><div class="center-align"><a href="{% url 'training_log' %}"><i class="fas fa-book-open center-align small_nav" style="padding:0;"></i><br><span class="white-text">Training</span></a></div></div>
<div class="col s3 align-center"><div class="center-align"><a href="{% url 'details' %}"><i class="fas fa-horse  center-align small_nav" style="padding:0;"></i><br><span class="white-text">Horse</span></a></div></div>
<div class="col s3 align-center"><div class="center-align"><a href="{% url 'caltwo' %}"><i class="fas fa-calendar center-align small_nav" style="padding:0;"></i><br><span class="white-text">Cal</span></a></div></div>
      <!--small toolbar-->


 </div><!--end of wrapper-->

</div><!--end of main section-->


</div><!--end of row-->


 
 

</div><!-- end of small navbar-->

<!--register service worker-->
 {% block sw_script %}
            <script>
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker.register('{% url "ServiceWorkerView" %}', { scope: '/home/'}).then(function(reg) {
                        // registration worked
                        console.log('Registration succeeded. Scope is ' + reg.scope);
                    }).catch(function(error) {
                        // registration failed
                        console.log('Registration failed with ' + error);
                    });
                }
            </script>
        {% endblock %} 
<!--fontaweseom kit js file-->

<!-- Compiled and minified JavaScript -->


   
<!--push notification subscribe-->  
{% block javascript %}
   <script src="https://kit.fontawesome.com/6cdfe06436.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
 <script src="{% static 'js/jquery.datetimepicker.full.min.js'%}"></script>
 <!-- custom js-->
 <script src="{% static 'js/custom.js' %}"></script>


{% if messages %}

                {% for message in messages %}
 
  <script>   M.toast({html: '{{message}}'})</script>
  
  </div>
{% endfor %}
            
             {% endif%} 


{% block scripts %}{% endblock %}

{% endblock javascript %}
  

  

</body>
   



</html>








          
    