{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{% block page_title %}{% endblock %}</title>

  <!-- core css -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!--vendor style sheets-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

   <link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- manifest-->
  <link rel="manifest" href="{% static 'manifest.json' %}">
   
   <!-- apple web app settings-->
   <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1,user-scalable=no"><meta name="apple-mobile-web-app-capable" content="yes"/><meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png'%}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png'%}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png'%}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png'%}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png'%}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png'%}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png'%}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png'%}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icons/android-icon-192x192.png'%}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png'%}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png'%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png'%}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png'%}">
  <meta name="theme-color" content="#ffffff">

</head>

<body>


 <div class="row bg">
<!-- nav for small only-->

 <!-- Top Navigation Menu -->
<div class="topnav hide-on-med-and-up">
   <img src="{% static 'images/logo/mobile_logo.png' %} "class="logo_small"/>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="menu()">
    <i class="fa fa-bars"></i>
  </a>
</div>

      <div class="col s2 hide-on-small-only ">
        <div class="white-text sidenav">
        <img src="{% static 'images/logo5.png' %} "class="logo"/>
          <ul id="" class="">
            <li> <a href="home.html"><i class="fa fa-home"></i><em>Home</em></a></li>
              <li> <a href="horses.html"><i class="fas fa-horse"></i><em>Horses</em></a></li>
              <li> <a href="yard.html"><i class="fas fa-broom"></i></i><em>Yard</em></a></li>
              <li> <a href="calender.html"><i class="fa fa-calendar"></i></i><em>Calendar</em></a></li>
              <li> <a href="training_log.html"><i class="fas fa-book-open"></i><em>Training</em></a></li>
              <li> <a href="training_history.html"><i class="fas fa-chart-line"></i><em>Activity Log</em></a></li>
              <li> <a href="competitions.html"><i class="fas fa-award"></i><em>Competitions</em></a></li>
              <li> <a href="profile.html"><i class="fa fa-cog"></i><em>Settings</em></a></li>
              <li> <a href="add_horse.html"><i class="fas fa-plus"></i><em>Add Horses</em></a></li>
               <li class='navli'> <a href=""><i class="fa fa-heart" aria-hidden="true"></i><em>Mindset</em></a></li>
          
          </ul>
          <div class="socialwapper center-align">
          <a href=""><i class="fa fa-facebook-square social" aria-hidden="true"></i></a>
          <i class="fa fa-twitter-square social" aria-hidden="true"></i>
          <i class="fa fa-instagram social" aria-hidden="true"></i>
          </div>
        </div><!--end of side nav-->
    </div><!--end of col-->
<!--main section-->
      <div class="col s12 m9" class="main_col" style="padding-left:30px;"><!--main body -->-->
         <div class="hs__wrapper">

   
      {% block content %} {% endblock %} 
      <!--small toolbar-->



 </div><!--end of wrapper-->

</div><!--end of main section-->


{% comment %} 
{% if messages %}

                {% for message in messages %}
  <div class="alert alert-primary alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
            
             {% endif%} {% endcomment %}

</div><!--end of row-->
<div class="small_navbar hide-on-med-and-up row">

<div class="col s3 align-center"><div class="center-align"><i class="fas fa-home  center-align small_nav" style="padding:0;"></i><br><span class="white-text">Home</span></div></div>
<div class="col s3 align-center"><div class="center-align"><i class="fas fa-book-open center-align small_nav" style="padding:0;"></i><br><span class="white-text">Training</span></div></div>
<div class="col s3 align-center"><div class="center-align"><i class="fas fa-horse  center-align small_nav" style="padding:0;"></i><br><span class="white-text">Horse</span></div></div>
<div class="col s3 align-center"><div class="center-align"><i class="fas fa-calendar center-align small_nav" style="padding:0;"></i><br><span class="white-text">Cal</span></div></div>

 
 

</div><!-- end of small navbar-->
 {% block sw_script %}
            <script>
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker.register('{% url "ServiceWorkerView" %}', { scope: 'http://127.0.0.1:8000/home/'}).then(function(reg) {
                        // registration worked
                        console.log('Registration succeeded. Scope is ' + reg.scope);
                    }).catch(function(error) {
                        // registration failed
                        console.log('Registration failed with ' + error);
                    });
                }
            </script>
        {% endblock %} 

     <script src="https://kit.fontawesome.com/6cdfe06436.js" crossorigin="anonymous"></script>
      <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>








          
    