{% load static%} {% load materializecss %}
     
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar</title>
  <link rel="stylesheet" href="{% static 'css/evo-calendar.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/evo-calendar.midnight-blue.min.css' %}"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
</head>
<body>

<h4 style="font:24px;color:white;">Calendar</h4>

   <div id="evoCalendar"></div>

   

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

     <script src="https://kit.fontawesome.com/6cdfe06436.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
 {% comment %} <script src="{% static 'js/jquery.datetimepicker.full.min.js'%}"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'js/evo-calendar.js' %}"></script>
    {% comment %} <script >
    
    var events = [
  {'Date': new Date(2021,01,26), 'Title': 'Doctor appointment at 3:25pm.'},
  {'Date': new Date(2021, 0, 18), 'Title': 'New Garfield movie comes out!', 'Link': 'https://garfield.com'},
  {'Date': new Date(2021, 0, 27), 'Title': '25 year anniversary', 'Link': 'https://www.google.com.au/#q=anniversary+gifts'},
];
var settings = {};
var element = document.getElementById('caleandar');
caleandar(element, events, settings);
    
    </script>
Jan. 17, 2021, 8:06 p.m
   {% endcomment %}
<script>
myEvents=[
{% for event in events %}
{

    id:"{{event.pk}}",
    name:"{{event.event.appType}}",
    date:" {{event.due|date:"D M d Y H:i:s"}} GMT-0800 (Pacific Standard Time)",
    type:"holiday",
    description:"{{event.due|date:"D M d Y H:i:s"}}",
    everyYear:false

  },
{% endfor %}

{

    id:"required-id-2",
    name:"valentines",
    date:"Sun Feb 14 2020 00:00:00 GMT-0800 (Pacific Standard Time)",
    type:"holiday",
    everyYear:true

  },



]

$('#evoCalendar').evoCalendar({

  calendarEvents: myEvents,
  todayHighlight:false,
  theme:'Midnight Blue'



});

</script>
   
{% for event in events%}
  <p>  {{event.due|date:"D M d Y H:i:s"}}</p>
   
  {% endfor %}
</body>
</html>
     
       






  


