{% extends 'base.html' %}{% load static%} {% load materializecss %}{% block page_title %}Horse{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/slider.css' %}" />
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/simple-calendar.css' %}" /> {%

{% endblock %}

{% block content %}
<h4 style="font: 24px; color: white"  data-intro='Appointments are marked with a blue circle.Click to view. Use arrows to change the month'>Calendar</h4>


<div id="container"></div>

<script
  src="https://kit.fontawesome.com/6cdfe06436.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"></script>

<script src="{% static  'js/jquery.simple-calendar.min.js'%}"></script>
<script>
  $(function() {

      $("#container").simpleCalendar({
          displayEvent: true,
          events: [

              // generate new event from appoint & cal & comp
                     {% for train in training %} 
                {

                  startDate: new Date("{{train.date|date:'D, j F Y h:i'}}"),

                  endDate: new Date("{{train.date|date:'D, j F Y h:i'}}"),

                  summary: 'Training Session at {{train.location}} with {{train.horse.stableName}}'

              }, {% endfor %}

         
              {% for event in events %}

              {

                  startDate: new Date("{{event.due|date:'D, j F Y h:i'}}"),

                  endDate: new Date("{{event.due|date:'D, j F Y h:i'}}"),

                  summary: '{{event.event.appType}} for {{event.horse.stableName}} ',

                

                  

              }, {% endfor %}

                  {% for comp in competition %}

              {

                  startDate: new Date("{{comp.date|date:'D, j F Y h:i'}}"),

                  endDate: new Date("{{comp.date|date:'D, j F Y h:i'}}"),

                  summary: 'Competition  at {{comp.location}} - {{comp.disipline.disipline}}'

              }, {% endfor %}

     

          ],
      });


  });
</script>

{% endblock %}
